<div class="px-5 pt-4 pb-4">
    <div class=" text-center text-dark custom-fs-18">Как мы можем вам помочь?</div>
    <div class="input-group-sm my-4"><input type="text" class="form-control text-dark" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>
    <div class="pt-3 pb-0 d-flex justify-content-between align-content-center">
        <button class="btn btn-primary btn-desicion py-2 text-sm" (click)="closeModal()">Отправить</button>
        <button type="button" class="btn btn-sm text-danger text-sm pr-0" (click)="closeModal()">Отмена</button>
    </div>
</div>
