<div class="container-fluid container-application mt-4 d-block">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-between">
            <span class="text-white h3 custom-fs-24">Dashboard</span>
            <div class="d-flex align-items-center">
                <div>
                    <img src="assets/icons/settings.svg" alt="settings" class="p-1">
                    <span class="text-white custom-fs-14">Settings</span>
                </div>
                <div class="bg-white text-white rounded-circle ml-3 add-block"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-header d-flex align-items-center justify-content-between py-2">
                    <span class="custom-fs-14">Кандидаты</span>
                    <div>
                        <button class="btn mr-4 btn-decision custom-fs-12 ">Принять решение</button>
                        <img src="assets/icons/search.svg" alt="search" class="mr-4">
                        <img src="assets/icons/filter.svg" alt="filter" class="mr-4">
                        <img src="assets/icons/more.svg" alt="more">
                    </div>
                </div>
                <div class="card-body pt-0 px-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pl-2 pr-2 py-1 align-middle col-filter" scope="col">
                                    <button class="btn btn-table-filter">
                                        <img src="assets/icons/check-circle.svg" alt="check-circle" class="mr-2">
                                        <img src="assets/icons/arrow-down-gray.svg" alt="arrow-down">
                                    </button>
                                </th>
                                <th class="pl-0 py-1 align-middle col-name custom-fs-14" scope="col">Имя</th>
                                <th class="py-1 align-middle col-begin custom-fs-14" scope="col">Начало</th>
                                <th class="py-1 align-middle form-col custom-fs-14" scope="col">Форма</th>
                                <th class="py-1 align-middle letter-col custom-fs-14" scope="col">Письмо</th>
                                <th class="py-1 align-middle test-col custom-fs-14" scope="col">Тестовое</th>
                                <th class="py-1 align-middle practice-col custom-fs-14" scope="col">Практическое</th>
                                <th class="py-1 align-middle dicision-col custom-fs-14" scope="col">Решение</th>
                                <th class="pl-2 py-1 align-middle custom-fs-14 finish-col" scope="col">Финиш</th>
                                <th scope="col edit-col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="all-done-row tr-height">
                                <th scope="row" class=" align-middle col-filter-pl selected-row">
                                    <img src="assets/icons/success-circle.svg" alt="success-circle">
                                </th>
                                <th class="pl-0  align-middle">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="Image placeholder" src="assets/img/user_card_img.png">
                                            </a>
                                        </div>
                                        <div class="col ml-md-n2">
                                            <a href="#!" class="d-block h6 mb-0 custom-fs-14">Yuliia Chudina</a>
                                            <small class="d-block text-black color-black custom-fs-12">#01</small>
                                        </div>
                                    </div>
                                </th>
                                <th class=" align-middle custom-fs-14">26/02/2020</th>
                                <th class="align-middle  px-0">
                                    <div class="status-block bg-success"><span class="ml-4 custom-fs-12">Готово</span></div>
                                </th>
                                <th class="align-middle  px-0">
                                    <div class="status-block bg-success"><span class="ml-4 custom-fs-12">Готово</span></div>
                                </th>
                                <th class="align-middle  px-0">
                                    <div class="status-block bg-success d-flex align-items-center justify-content-between">
                                        <span class="ml-4 custom-fs-12">Готово</span>
                                        <img src="assets/icons/arrow-down.svg" height="7.41px" width="12px" class="mr-2">
                                    </div>
                                </th>
                                <th class="align-middle  px-0">
                                    <div class="status-block bg-success d-flex align-items-center justify-content-between">
                                        <span class="ml-4 custom-fs-12">Готово</span>
                                        <img src="assets/icons/arrow-down.svg" height="7.41px" width="12px" class="mr-2">
                                    </div>
                                </th>
                                <th class="align-middle finish-row custom-fs-14 py-1">Принят</th>
                                <th class="align-middle pl-2 pr-2  custom-fs-14">15/03/2020</th>
                                <th class="align-middle pl-1 pr-3 text-center"><img src="assets/icons/delete.svg"alt="delete"></th>
                            </tr>
                            <tr class="all-done-row tr-height">
                                <th scope="row" class="col-filter-pl align-middle  selected-row">
                                    <img src="assets/icons/success-circle.svg" alt="success-circle">
                                </th>
                                <th class="pl-0 align-middle ">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="Image placeholder" src="assets/img/user_card_img.png">
                                            </a>
                                        </div>
                                        <div class="col ml-md-n2">
                                            <a href="#!" class="d-block h6 mb-0 custom-fs-14">Darrell Web</a>
                                            <small class="d-block text-black color-black custom-fs-12">#08</small>
                                        </div>
                                    </div>
                                </th>
                                <th class="align-middle  custom-fs-14">06/02/2020</th>
                                <th class="align-middle  px-0">
                                    <div class="status-block bg-success"><span class="ml-4 custom-fs-12">Готово</span></div>
                                </th>
                                <th class="align-middle  px-0">
                                    <div class="status-block bg-success"><span class="ml-4 custom-fs-12">Готово</span></div>
                                </th>
                                <th class="align-middle  px-0">
                                    <div class="status-block bg-success d-flex align-items-center justify-content-between">
                                        <span class="ml-4 custom-fs-12">Готово</span>
                                        <img src="assets/icons/arrow-down.svg" height="7.41px" width="12px" class="mr-2">
                                    </div>
                                </th>
                                <th class="align-middle  px-0 nothing-block">
                                    <div class=""></div>
                                </th>
                                <th class="align-middle finish-row custom-fs-14 py-1">Принят на испытательный</th>
                                <th class="align-middle pl-2 pr-2  custom-fs-14">17/03/2020</th>
                                <th class="align-middle pl-1 pr-3 text-center"><img src="assets/icons/delete.svg" alt="delete"></th>
                            </tr>
                            <tr class="tr-height">
                                <th scope="row" class="col-filter-pl align-middle ">
                                    <img src="assets/icons/empty-circle.svg" alt="success-circle">
                                </th>
                                <th class="pl-0 align-middle ">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="Image placeholder" src="assets/img/user_card_img.png">
                                            </a>
                                        </div>
                                        <div class="col ml-md-n2">
                                            <a href="#!" class="d-block h6 mb-0 custom-fs-14">Lily Bell</a>
                                            <small class="d-block text-black color-black custom-fs-12">#02</small>
                                        </div>
                                    </div>
                                </th>
                                <th class="align-middle  custom-fs-14">01/02/2020</th>
                                <th class="align-middle  px-0">
                                    <div class="status-block bg-success"><span class="ml-4 custom-fs-12">Готово</span></div>
                                </th>
                                <th class="align-middle  px-0">
                                    <div class="status-block gray-block"><span class="ml-4 custom-fs-12">Не начато</span></div>
                                </th>
                                <th class="align-middle  px-0">
                                    <div class="status-block gray-block d-flex align-items-center justify-content-between">
                                        <span class="ml-4 custom-fs-12">Не начато</span>
                                        <img src="assets/icons/arrow-down.svg" height="7.41px" width="12px" class="mr-2">
                                    </div>
                                </th>
                                <th class="align-middle  px-0">
                                    <div class="status-block gray-block d-flex align-items-center justify-content-between">
                                        <span class="ml-4 custom-fs-12">Не начато</span>
                                        <img src="assets/icons/arrow-down.svg" height="7.41px" width="12px" class="mr-2">
                                    </div>
                                </th>
                                <th class="align-middle finish-row custom-fs-14 py-1">Не принят</th>
                                <th class="align-middle pl-2 pr-2  custom-fs-14">--</th>
                                <th class="align-middle pl-1 pr-3 text-center"><img src="assets/icons/delete.svg" alt="delete"></th>
                            </tr>
                            <tr class="tr-height">
                                <th scope="row" class="col-filter-pl align-middle ">
                                    <img src="assets/icons/empty-circle.svg" alt="success-circle">
                                </th>
                                <th class="pl-0 align-middle ">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="Image placeholder" src="assets/img/user_card_img.png">
                                            </a>
                                        </div>
                                        <div class="col ml-md-n2">
                                            <a href="#!" class="d-block h6 mb-0 custom-fs-14">Cody Cooper</a>
                                            <small class="d-block text-black color-black custom-fs-12">#03</small>
                                        </div>
                                    </div>
                                </th>
                                <th class="align-middle custom-fs-14">13/02/2020</th>
                                <th class="align-middle  px-0">
                                    <div class="status-block bg-success"><span class="ml-4 custom-fs-12">Готово</span></div>
                                </th>
                                <th class="align-middle  px-0">
                                    <div class="status-block bg-success"><span class="ml-4 custom-fs-12">Готово</span></div>
                                </th>
                                <th class="align-middle  px-0">
                                    <div class="status-block bg-warning d-flex align-items-center justify-content-between">
                                        <span class="ml-4 custom-fs-12">В прогрессе</span>
                                        <img src="assets/icons/arrow-down.svg" height="7.41px" width="12px" class="mr-2">
                                    </div>
                                </th>
                                <th class="align-middle  px-0 nothing-block"><div class=""></div>
                                </th>
                                <th class=" align-middle finish-row custom-fs-14 py-1">Не принят, еще очень юн, советуем пойти в it2school</th>
                                <th class="align-middle pl-2 pr-2 ">--</th>
                                <th class="align-middle pl-1 pr-3 text-center"><img src="assets/icons/delete.svg" alt="delete"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
