
.add-block{
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        border-left: 2px solid #353535;
        height: 16px;
        top: 30%;
        left: 19px;
    }
    &::before{
        position: absolute;
        content: '';
        border-bottom: 2px solid #353535;
        width: 16px;
        top: 19px;
        left: 30%;
    }
}

.btn-decision{
    padding:7px 39px;
    background: #EFF2F7;
    color: #273444;
}

.col-filter{
    width: 44px;
    padding: 6px 10px;
}

.btn-table-filter{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
    padding: 2px 5px;
}

.tr-height{
    height: 80px;
}

th.col-name{
    width: 112px;
    padding-right: 9rem;
}

.col-begin{
    width: 112px;
}

.task-col{
    width: 180px;
}

.form-col, .test-col, .letter-col{
    width: 120px;
}

.practice-col{
    width: 148px;
}

.dicision-col{
    width: 204px;
}

.finish-col{
    width: 112px;
}

.edit-col{
    width: 112px;
}

th.col-filter-pl{
    padding-left: 0.65rem;
    border-left: 8px solid transparent;
}

th{
    transition:all 0.3s;
    &.selected-row{
        border-left: 8px solid #36b37e;
        transition: border-left 0.3s;
    }
}

.status-block{
    height: 24px;
    width: 100%;
    color: #fff;
    &.gray-block{
        background-color: #8492a6;
    }
}

.nothing-block{
    background-color: #EFF2F7;
}


tr {
    transition: all 0.3s;
    &.all-done-row{
        background-color: #EFF9FF;
        transition: all 0.3s;
    }
}


.circle-active{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    align-self: center;
    margin-right: 0.1rem;
}

.finish-row{
    white-space: normal;
}

.task-col-test {
    width: 80px;
}

.task-col-practice{
    width: 80px;
}

.col-filter-pl input{
  display: none;
  cursor: pointer;
  &:checked + label:after{
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 6px;
    width: 6px;
    height: 10px;
    border: solid #8492a6;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.col-filter-pl label{
  position: relative;
  cursor: pointer;
  &:before{
    content:'';
    background-color: transparent;
    border: 2px solid #8492a6;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
}

th div.dropdown {
    user-select: none;
    cursor: pointer;
}

.dropdown-test-task{
    width: 120px;
    min-width: 120px;
    border-radius: 0 0 0.25rem 0.25rem;
}

.dropdown-practice-task{
    width: 148px;
    min-width: 148px;
    border-radius: 0 0 0.25rem 0.25rem;
}
