<div class="container-fluid container-application mt-4 d-block">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-between">
            <span class="text-white h3 custom-fs-24">Dashboard</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-header d-flex align-items-center justify-content-between py-2">
                    <span class="custom-fs-14">Кандидаты</span>
                    <div>
                        <button class="btn mr-4 btn-decision custom-fs-12" (click)="openSubmitModal()">Принять решение</button>
                        <button class="btn m-0 p-0"><img src="assets/icons/search.svg" alt="search" class="pr-4"></button>
                        <button class="btn m-0 p-0"><img src="assets/icons/filter.svg" alt="filter" class="pr-4"></button>
                        <div class="dropdown">
                            <button class="btn m-0 p-0" id="filterMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="assets/icons/more.svg" alt="more">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="filterMenu">
                                <a class="dropdown-item text-dark" href="#">Action</a>
                                <a class="dropdown-item text-dark" href="#">Another action</a>
                                <a class="dropdown-item text-dark" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 px-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pl-2 pr-2 py-1 align-middle col-filter" scope="col">
                                    <button class="btn btn-table-filter">
                                        <img src="assets/icons/check-circle.svg" alt="check-circle" class="mr-2">
                                        <img src="assets/icons/arrow-down-gray.svg" alt="arrow-down">
                                    </button>
                                </th>
                                <th class="pl-0 py-1 align-middle col-name custom-fs-14" scope="col">Имя</th>
                                <th class="py-1 align-middle col-begin custom-fs-14" scope="col">Начало</th>
                                <th class="py-1 align-middle form-col custom-fs-14" scope="col">Форма</th>
                                <th class="py-1 align-middle letter-col custom-fs-14" scope="col">Письмо</th>
                                <th class="py-1 align-middle test-col custom-fs-14" scope="col">Тестовое</th>
                                <th class="py-1 align-middle practice-col custom-fs-14" scope="col">Практическое</th>
                                <th class="py-1 align-middle dicision-col custom-fs-14" scope="col">Решение</th>
                                <th class="pl-2 py-1 align-middle custom-fs-14 finish-col" scope="col">Финиш</th>
                                <th scope="col edit-col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users" class="tr-height" [class.all-done-row]="user.selected">
                                <th scope="row" class="py-2 align-middle col-filter-pl" [class.selected-row]="user.selected">
                                    <input type="checkbox" id="{{user.id}}" (click)="checkUser(user.id)" [attr.checked]="user.selected ? '' : null"/>
                                    <label for="{{user.id}}" class="mb-0"></label>
                                </th>
                                <th class="pl-0 align-middle">
                                    <div class="row align-items-center flex-nowrap">
                                        <div class="col-auto">
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="Image placeholder" [src]="user.image">
                                            </a>
                                        </div>
                                        <div class="col ml-md-n2">
                                            <a href="#!" class="d-block h6 mb-0 custom-fs-14">{{user.name}}</a>
                                            <small class="d-block text-dark font-weight-900 custom-fs-12">#{{user.id | number : '3.0': 'fr'}}</small>
                                        </div>
                                    </div>
                                </th>
                                <th class="py-2 align-middle custom-fs-14">{{user.begin}}</th>
                                <th class="align-middle py-2 px-0">
                                    <div class="status-block" [class.bg-success]="user.formTask == 2" [class.gray-block]="user.formTask === 0" [class.bg-warning]="user.formTask === 1"><span class="ml-4 custom-fs-12">{{user.formTask | dashStatus}}</span></div>
                                </th>
                                <th class="align-middle py-2 px-0">
                                    <div class="status-block" [class.bg-success]="user.letterTask == 2" [class.gray-block]="user.letterTask === 0" [class.bg-warning]="user.letterTask === 1"><span class="ml-4 custom-fs-12">{{user.letterTask | dashStatus}}</span></div>
                                </th>
                                <th class="align-middle  px-0">
                                    <div class="status-block bg-success d-flex align-items-center justify-content-between">
                                        <span class="ml-4 custom-fs-12">Готово</span>
                                        <img src="assets/icons/arrow-down.svg" height="7.41px" width="12px" class="mr-2">
                                    </div>
                                </th>
                                <th class="align-middle  px-0">
                                    <div class="status-block bg-success d-flex align-items-center justify-content-between">
                                        <span class="ml-4 custom-fs-12">Готово</span>
                                        <img src="assets/icons/arrow-down.svg" height="7.41px" width="12px" class="mr-2">
                                    </div>
                                </th>
                                <th class="align-middle finish-row custom-fs-14 py-1">{{user.decision}}</th>
                                <th class="align-middle pl-2 pr-2 py-2 custom-fs-14">{{user.finish}}</th>
                                <th class="align-middle pr-2 text-right"></th>
                                <th class="align-middle pl-1 pr-3 text-center"><img src="assets/icons/delete.svg"alt="delete" (click)="deleteUser(user)"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
