<div class="container-fluid container-application mt-4 d-block">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-between">
            <span class="text-white h3 custom-fs-24">Dashboard</span>
            <div class="d-flex align-items-center">
                <div>
                    <img src="assets/icons/settings.svg" alt="settings" class="p-1">
                    <span class="text-white custom-fs-14"> Settings</span>
                </div>
                <div class="bg-white text-white rounded-circle ml-3 custom-plus"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-header d-flex align-items-center justify-content-between py-3">
                    <span class="custom-fs-14 custom-color-gray">Users</span>
                    <div>
                        <button class="btn custom-btn-decision custom-fs-12 mr-4">Принять решение</button>
                        <img src="assets/icons/search.svg" alt="search" class="mr-4">
                        <img src="assets/icons/filter.svg" alt="filter" class="mr-4">
                        <img src="assets/icons/more.svg" alt="more">
                    </div>
                </div>
                <div class="card-body pt-0 px-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pl-2 pr-2 custom-width-col-1 py-2 align-middle" scope="col">
                                    <div class="custom-table-filter">
                                        <img src="assets/icons/check-circle.svg" alt="check-circle" class="mr-2">
                                        <img src="assets/icons/arrow-down-gray.svg" alt="arrow-down">
                                    </div>
                                </th>
                                <th class="pl-0 custom-col-name custom-fs-14 py-2 align-middle" scope="col">Name</th>
                                <th class="pr-5 custom-col-name custom-fs-14 py-2 align-middle" scope="col">Начало</th>
                                <th class="custom-table-form-1 px-2 text-center custom-fs-14 py-2 align-middle"
                                    scope="col">Форма</th>
                                <th class="custom-table-form-1 px-2 text-center custom-fs-14 py-2 align-middle"
                                    scope="col">Письмо</th>
                                <th class="custom-table-form-1 px-2 text-center custom-fs-14 py-2 align-middle"
                                    scope="col">Тестовое</th>
                                <th class="custom-fs-14 py-2 align-middle" scope="col">Практическое</th>
                                <th class="custom-fs-14 pl-3 pr-0 py-2 align-middle" scope="col">Решение</th>
                                <th class="custom-fs-14 pl-5 pr-3 py-2 align-middle" scope="col">Финиш</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="custom-complete-block">
                                <th scope="row" class="custom-padding-col-1 align-middle py-3">
                                    <img src="assets/icons/success-circle.svg" alt="success-circle">
                                </th>
                                <th class="pl-0 align-middle py-3">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="Image placeholder" src="assets/img/user_card_img.png" class="">
                                            </a>
                                        </div>
                                        <div class="col ml-md-n2">
                                            <a href="#!" class="d-block h6 mb-0 custom-fs-12">Yuliia Chudina</a>
                                            <small class="d-block text-black color-black custom-fs-12">#01</small>
                                        </div>
                                    </div>
                                </th>
                                <th class="align-middle py-3 position-relative">26/02/2020</th>
                                <th class="align-middle py-3 position-relative"><div class="custom-success-block"></div></th>
                                <th class="align-middle py-3 position-relative"><div class="custom-success-block"></div></th>
                                <th class="align-middle py-3 position-relative"><div class="custom-success-block"></div></th>
                                <th class="align-middle py-3 position-relative"><div class="custom-success-block practice-block"></div></th>
                                <th class="pl-0"></th>
                                <th class="align-middle pl-5  py-3 pr-0">15/03/2020</th>
                                <th class="align-middle pr-3"><img src="assets/icons/edit.svg" alt="edit"></th>
                                <th class="align-middle pl-0"><img src="assets/icons/delete.svg" alt="delete"></th>
                            </tr>
                            <tr class="custom-complete-block">
                                <th scope="row" class="custom-padding-col-1 align-middle py-3 custom-selected-col">
                                    <img src="assets/icons/success-circle.svg" alt="success-circle">
                                </th>
                                <th class="pl-0 align-middle py-3">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="Image placeholder" src="assets/img/user_card_img.png" class="">
                                            </a>
                                        </div>
                                        <div class="col ml-md-n2">
                                            <a href="#!" class="d-block h6 mb-0 custom-fs-12">Darrel Webb</a>
                                            <small class="d-block text-black color-black custom-fs-12">#08</small>
                                        </div>
                                    </div>
                                </th>
                                <th class="align-middle py-3 position-relative">06/02/2020</th>
                                <th class="align-middle py-3 position-relative"><div class="custom-success-block"></div></th>
                                <th class="align-middle py-3 position-relative"><div class="custom-success-block"></div></th>
                                <th class="align-middle py-3 position-relative"><div class="custom-success-block"></div></th>
                                <th class="align-middle py-3 position-relative custom-nothing-block"><div></div></th>
                                <th class="pl-0"></th>
                                <th class="align-middle pl-5  py-3 pr-0">17/03/2020</th>
                                <th class="align-middle pr-3"><img src="assets/icons/edit.svg" alt="edit"></th>
                                <th class="align-middle pl-0"><img src="assets/icons/delete.svg" alt="delete"></th>
                            </tr>
                            <tr>
                                <th scope="row" class="custom-padding-col-1 align-middle py-3">
                                    <img src="assets/icons/empty-circle.svg" alt="success-circle">
                                </th>
                                <th class="pl-0 align-middle py-3">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="Image placeholder" src="assets/img/user_card_img.png" class="">
                                            </a>
                                        </div>
                                        <div class="col ml-md-n2">
                                            <a href="#!" class="d-block h6 mb-0 custom-fs-12">Lily Bell</a>
                                            <small class="d-block text-black color-black custom-fs-12">#02</small>
                                        </div>
                                    </div>
                                </th>
                                <th class="align-middle py-3 position-relative">01/02/2020</th>
                                <th class="align-middle py-3 position-relative"><div class="custom-success-block"></div></th>
                                <th class="align-middle py-3 position-relative"><div class="custom-gray-block"></div></th>
                                <th class="align-middle py-3 position-relative"><div class="custom-gray-block"></div></th>
                                <th class="align-middle py-3 position-relative"><div class="custom-gray-block"></div></th>
                                <th class="pl-0"></th>
                                <th class="align-middle pl-5  py-3 pr-0">--</th>
                                <th class="align-middle pr-3"><img src="assets/icons/edit.svg" alt="edit"></th>
                                <th class="align-middle pl-0"><img src="assets/icons/delete.svg" alt="delete"></th>
                            </tr>
                            <tr>
                                <th scope="row" class="custom-padding-col-1 align-middle py-3">
                                    <img src="assets/icons/empty-circle.svg" alt="success-circle">
                                </th>
                                <th class="pl-0 align-middle py-3">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="Image placeholder" src="assets/img/user_card_img.png" class="">
                                            </a>
                                        </div>
                                        <div class="col ml-md-n2">
                                            <a href="#!" class="d-block h6 mb-0 custom-fs-12">Cody Cooper</a>
                                            <small class="d-block text-black color-black custom-fs-12">#03</small>
                                        </div>
                                    </div>
                                </th>
                                <th class="align-middle py-3 position-relative">13/02/2020</th>
                                <th class="align-middle py-3 position-relative"><div class="custom-success-block"></div></th>
                                <th class="align-middle py-3 position-relative"><div class="custom-success-block"></div></th>
                                <th class="align-middle py-3 position-relative"><div class="custom-gray-block"></div></th>
                                <th class="align-middle py-3 position-relative custom-nothing-block"><div></div></th>
                                <th class="pl-0"></th>
                                <th class="align-middle pl-5  py-3 pr-0">--</th>
                                <th class="align-middle pr-3"><img src="assets/icons/edit.svg" alt="edit"></th>
                                <th class="align-middle pl-0"><img src="assets/icons/delete.svg" alt="delete"></th>
                            </tr>
                            <tr>
                                <th scope="row" class="custom-padding-col-1 align-middle py-3">
                                    <img src="assets/icons/empty-circle.svg" alt="success-circle">
                                </th>
                                <th class="pl-0 align-middle py-3">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="Image placeholder" src="assets/img/user_card_img.png" class="">
                                            </a>
                                        </div>
                                        <div class="col ml-md-n2">
                                            <a href="#!" class="d-block h6 mb-0 custom-fs-12">Darel Webb</a>
                                            <small class="d-block text-black color-black custom-fs-12">#08</small>
                                        </div>
                                    </div>
                                </th>
                                <th class="align-middle py-3 position-relative">03/02/2020</th>
                                <th class="align-middle py-3 position-relative"><div class="custom-success-block"></div></th>
                                <th class="align-middle py-3 position-relative"><div class="custom-warning-block">В процессе</div></th>
                                <th class="align-middle py-3 position-relative custom-nothing-block"><div></div></th>
                                <th class="align-middle py-3 position-relative"><div class="custom-gray-block"></div></th>
                                <th class="pl-0"></th>
                                <th class="align-middle pl-5  py-3 pr-0">--</th>
                                <th class="align-middle pr-3"><img src="assets/icons/edit.svg" alt="edit"></th>
                                <th class="align-middle pl-0"><img src="assets/icons/delete.svg" alt="delete"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>