$muted: #8492a6;
$success: #36b37e;
$warning: #ff6930;
$white: #fff;

.add-block{
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        border-left: 2px solid #353535;
        height: 16px;
        top: 30%;
        left: 19px;
    }
    &::before{
        position: absolute;
        content: '';
        border-bottom: 2px solid #353535;
        width: 16px;
        top: 19px;
        left: 30%;
    }
}

.btn-decision{
    padding:7px 39px;
    background: #EFF2F7;
    color: #273444;
}

.col-filter{
    width: 44px;
    padding: 6px 10px;
}

.btn-table-filter{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
    padding: 5px;
}

.col-name{
    width: 112px;
    padding-right: 8rem !important;
}

.task-col{
    width: 180px;
}

.form-col, .test-col, .letter-col{
    width: 96px;
}

.dicision-col{
    width: 112px;
}

.practice-col{
    width: 132px;
}

.col-filter-pl{
    padding-left: 0.65rem !important;
    border-left: 8px solid transparent;
}

.selected-row{
    border-left: 8px solid $success;
}

.success-block{
    height: 24px;
    text-align: center;
    background-color: $success;
    color: $white;
}

.gray-block{
    height: 24px;
    text-align: center;
    background-color: $muted;
    color: $white;
}

.nothing-block{
    background-color: #EFF2F7;
}

.warning-block{
    background-color: $warning;
    height: 24px;
    text-align: center;
    color: $white;
}

.all-done-row{
    background-color: #EFF9FF;
}

.circle-active{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $success;
    align-self: center;
    margin-right: 0.1rem;
}

.finish-row{
    white-space: normal;
}

.task-col-test, .task-col-practice{
    width: 80px;
}