.application .sidenav-header .navbar-brand img{
  height: 2.2rem;
}
.auth-logo img{
  width: 145px;
}

/*------------------Requests------------------*/
.customers-logo img.clogo{
  height: 40px;
  max-width: 80px;
}
.table-flag{
  width: 16px;
  margin-right: 4px;
  margin-top: -2px;
}
.cname .media-body strong, .name .media-body strong, .reference .media-body strong{
  font-size: 1em;
  color:#333;
}
.cname .media-body small, .name .media-body small, .reference .media-body small{
  font-size: 0.9em;
  display: block;
}
.id a.id{
  color:#3E50B4;
}
.row-status-toBeDone{
  background-color: #fcf3ea !important;
}
.badge-toBeDone{
  color: #FFF;
  background-color: #3E50B4;
}
.badge-requests{
  width: 24px;
  left: 62px;
  top: -4px;
  background: #ff562f;
  color: #ffffff;
}
.active .badge-requests{
  background: #FFF;
  color: #3d50b4;
}

.status-circule{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  top: 1px;
}
span.status-circule.status-toBeDone,
.status-toBeDone .badge{
  background: #3d4fb3;
}
span.status-circule.status-inProgress,
.status-inProgress .badge{
  background: #ffab00;
}
span.status-circule.status-done,
.status-done .badge{
  background: #36b37e;
}
span.status-circule.status-canceled,
.status-canceled .badge{
  background: #ff562f;
}
.status-toBeDone .dropdown-menu a.status-link-toBeDone,
.status-inProgress .dropdown-menu a.status-link-inProgress,
.status-done .dropdown-menu a.status-link-done,
.status-canceled .dropdown-menu a.status-link-canceled{
  font-weight: bold;
  color:#000;
}
.status-toBeDone .status-value::before, .status-link-toBeDone::after{
  content: "To be Done";
}
.status-inProgress .status-value::before, .status-link-inProgress::after{
  content: "In Progress";
}
.status-done .status-value::before, .status-link-done::after{
  content: "Done";
}
.status-canceled .status-value::before, .status-link-canceled::after{
  content: "Canceled";
}

.action-separator{
  color: #d0d0d0;
}
.col-actions .menu-actions{
  min-width: 120px;
}
.col-actions .menu-actions .dropdown-item > i{
  font-size: 0.8rem;
}
.table-responsive{
  overflow-x: visible;
}
nav .pagination{
  margin-bottom: 60px;
}
/*------------------Requests End------------------*/

.logo-upload img{
  max-height: 24px;
}

.card-contact-details .edit-contact{
  visibility: hidden;
}
.card-contact-details:hover .edit-contact{
  visibility: visible;
}
.list-group-item.active{
  background-color: #f2f4fb;
}
#navigation-toggler{
  color:#FFF;
  font-weight: 100;
  font-size: 16px;
  top: -4px;
  position: relative;
}
.dropdown a{
  outline: none;
}

/*----------------------Stepper------------*/
.stepper-steps {
  height: 72px;
  background: #f6f8fb;
  border-radius: 4px;
}

.stepper-steps-isOffset {
  position: relative;
  top: -30px;
  margin: 0 15px -30px 15px;
}

.stepper-content {
  padding: 24px;
}

.stepper-step {
  padding: 24px;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  text-align: center;
}
.stepper-step:first-child {
  text-align: left;
}
.stepper-step:last-child {
  text-align: right;
}

.stepper-step::after {
  content: "";
  position: absolute;
  bottom: 34px;
  left: 0;
  right: 0;
  height: 1px;
  background: #9eb0ce;
}
.stepper-step:first-child::after {
  left: 24px;
}
.stepper-step:last-child::after {
  right: 24px;
}

.stepper-step-done {
  font-weight: 600;
}

.stepper-step-pending {
  color: #9eb0ce;
}

.stepper-stepMarker {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  text-align: center;
  color: white;
  line-height: 24px;
  border-radius: 24px;
  font-weight: 500;
  font-size: 12px;
  background-color: #9eb0ce;
}

.stepper-step-active .stepper-stepMarker {
  background-color: #3E50B4;
}

.stepper-step-done .stepper-stepMarker {
  text-indent: -10000px;
  background: url('data:image/svg+xml;charset=utf8,<svg fill="#FFFFFF" height="20" viewBox="0 0 24 24" width="19" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/> <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>') no-repeat #2196f3;
  background-position: 2px 1px;
  background-color: #388E3C;
  font-weight: 600;
}

.stepper-step-canceled .stepper-stepMarker {
  text-indent: -10000px;
  background: url('data:image/svg+xml;charset=utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19 20" style="enable-background:new 0 0 19 20;" xml:space="preserve"><path fill="none" d="M0,0.5h19v19H0V0.5z"/><path fill="#FFFFFF" d="M16.7,4.6l-1.4-1.4L9.7,8.8L4.1,3.2L2.7,4.6l5.6,5.6l-5.6,5.6l1.4,1.4l5.6-5.6l5.6,5.6l1.4-1.4l-5.6-5.6 L16.7,4.6z"/></svg>') no-repeat #FFFFFF;
    background-position: 4px 4px;
    background-color: #FD5503;
    font-weight: 600;
    background-size: 16px;
}

.stepper-stepContent {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: 0 8px;
	background-color: #f6f8fb;
	color:rgba(0,0,0,0.87);
	font-weight: 500;
}
.stepper-step-done .stepper-stepContent{
	color: #388E3C;
}
/*----------------------Stepper END------------*/

/*----------------------Editable Forms------------*/

.edit-group input.form-control, .edit-group textarea.form-control{
  padding: 0.5rem;
  margin-left: -10px;
}
.edit-group textarea.form-control{
  width: 100%;
}
.edit-group div.input-group{
  margin-left: -10px;
}
.edit-group .btn-editable, .edit-group input.form-control:focus, .edit-group textarea.form-control:focus{
  border-color:#E0E6ED;
}
.edit-group .btn-editable{
  width: 48px;
  height: 39px;
  padding: 0px;
  text-align: center;
}
.edit-group .btn-editable-save{
  margin: 0px;
}
.edit-group .btn-editable-cancel{
  margin-right: 0px;
  margin-left: -1px;
}
/*----------------------Editable Forms END------------*/

/*---------------Responsive---------------*/
@media (min-width: 1px) and (max-width: 767px) {
  .stepper-status-name{
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #navigation-toggler{
    display: inline-block;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  #navigation-toggler{
    display: inline-block;
  }
}

@media (min-width: 1199px){
  #navigation-toggler{
    display: none;
  }
}
