<form class="p-4">
    <div class="form-group">
      <label for="name" class="text-dark">Ф.И.О</label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
        placeholder="Введите Ф.И.О">
    </div>
    <div class="form-group">
        <label for="btnGroupEdit" class="text-dark">Направления</label>
        <div role="group" aria-label="Btn direction" id="btnGroupEdit">
          <button type="button" class="btn btn-outline-primary btn-modal-edit text-sm bg-light border-0 text-primary">PHP</button>
          <button type="button" class="btn btn-outline-primary btn-modal-edit text-sm bg-light border-0 text-primary">SQL</button>
          <button type="button" class="btn btn-outline-primary btn-modal-edit text-sm bg-light border-0 text-primary">Design</button>
        </div>
    </div>
    <div class="form-group">
      <label for="modal-edit-email" class="text-dark">Email</label>
      <input type="email" class="form-control" id="modal-edit-email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="modal-edit-phone" class="text-dark">Телефон</label>
      <input type="text" class="form-control" id="modal-edit-phone" placeholder="+380">
    </div>
    <div class="form-group">
      <label for="modal-edit-telegram" class="text-dark">Телеграмм ник</label>
      <input type="text" class="form-control" id="modal-edit-telegram" placeholder="@nickname">
    </div>
    <div class="form-group last-group-custom">
      <label for="modal-edit-links" class="text-dark">Линк <span class="text-muted">(GitHub, Behance и т.д.)</span></label>
      <input type="text" class="form-control" id="modal-edit-links" placeholder="Ссылка">
    </div>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-primary btn-sm py-2">Сохранить</button>
      <button type="button" class="btn btn-sm text-danger" (click)="closeModal()">Отмена</button>
    </div>
  </form>