<form class="p-4">
    <div class="form-group">
      <label for="name" class="text-dark">Full Name</label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
        placeholder="Enter full name">
    </div>
    <div class="form-group">
        <label for="btnGroupEdit" class="text-dark">Direction</label>
        <div role="group" aria-label="Btn direction" id="btnGroupEdit">
          <button type="button" class="btn btn-outline-primary btn-modal-edit text-sm bg-light border-0 text-primary">PHP</button>
          <button type="button" class="btn btn-outline-primary btn-modal-edit text-sm bg-light border-0 text-primary">SQL</button>
          <button type="button" class="btn btn-outline-primary btn-modal-edit text-sm bg-light border-0 text-primary">Design</button>
        </div>
    </div>
    <div class="form-group">
      <label for="modal-edit-email" class="text-dark">Email</label>
      <input type="email" class="form-control" id="modal-edit-email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="modal-edit-phone" class="text-dark">Phone</label>
      <input type="text" class="form-control" id="modal-edit-phone" placeholder="+380">
    </div>
    <div class="form-group">
      <label for="modal-edit-telegram" class="text-dark">Telegram Nick</label>
      <input type="text" class="form-control" id="modal-edit-telegram" placeholder="Enter telegram nick">
    </div>
    <div class="form-group last-group-custom">
      <label for="modal-edit-links" class="text-dark">Link <span class="text-muted">(GitHub, Behance etc)</span></label>
      <input type="text" class="form-control" id="modal-edit-links" placeholder="Enter link">
    </div>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-primary btn-sm py-2">Сохранить</button>
      <button type="button" class="btn btn-sm text-danger" (click)="closeModal()">Отмена</button>
    </div>
  </form>