<div class="container-fluid container mt-4 d-block" *ngIf="residents">
    <div class="row mb-5">
        <div class="col d-flex align-items-center justify-content-between">
            <span class="text-white h3 custom-fs-24">Резиденты</span>
        </div>
    </div>
    <!-- Page title -->
    <div class="row">
        <div class="col-lg-3 col-sm-6" [routerLink]="'/profile/' + resident.id" *ngFor="let resident of residents"
            (mouseover)="resident.hovered = true" (mouseout)="resident.hovered = false">
            <div class="card hover-shadow-lg">
                <div class="py-3 px-0 card-body text-center">
                    <div class="avatar-parent-child">
                        <img [alt]="resident.name" [src]="resident.icon" class="avatar rounded-circle avatar-xl">
                    </div>
                    <h5 class="h6 mt-4 mb-0">{{resident.name}}</h5>
                    <a [routerLink]="'/profile/' + resident.id" class="text-primary text-sm">{{resident.profile}}</a>
                    <div class="pt-3 mt-3 border-top text-primary custom-fs-20">
                        {{resident.status}}
                    </div>
                    <div class="pt-3 pb-3 px-5 mt-0 position-absolute zindex-100 text-dark text-left card-outliers"
                        [hidden]="!resident.hovered" [class.border-top]="resident.hovered">
                        <div><i class="fa fa-birthday-cake mr-3" aria-hidden="true"></i>{{resident.birthday}}</div>
                        <div><i class="fa fa-envelope mr-3" aria-hidden="true"></i>{{resident.mail}}</div>
                        <div><i class="fa fa-phone mr-3" aria-hidden="true"></i>{{resident.phone}}</div>
                        <div><i class="fa fa-telegram mr-3" aria-hidden="true"></i>{{resident.telegram}}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Load more -->
    <!--  <div class="mt-4 text-center">-->
    <!--    <a href="#" class="btn btn-sm btn-neutral rounded-pill shadow hover-translate-y-n3">Load more ...</a>-->
    <!--  </div>-->
</div>
