<div class="container-fluid container-application mt-4 d-block" *ngIf="user">
    <span class="text-white h3 custom-fs-26">{{user.info.name}}</span>
    <ul class="nav mt-4">
      <ng-container *ngFor="let state of states; let i = index">
        <li *ngIf="i !== 0" class="nav-item border-bottom pr-3" [class.not-active]="!state.active"></li>
        <li class="nav-item border-bottom" [class.not-active]="!state.active">
          <a class="nav-link h5 pr-0 pb-1 custom-fs-18" [class.text-white]="state.active" [class.pl-0]="i === 0">{{state.name}}</a>
        </li>
      </ng-container>
      <li class="nav-item get-rest border-bottom" [class.not-active]="!states[states.length - 1].active"></li>
    </ul>
    <div class="row mt-4">
      <div class="col-lg-4">
        <!-- Profile stats -->
        <div class="card card-fluid">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-auto">
                <!-- Avatar -->
                <a href="#" class="avatar rounded-circle" [class.bg-warning]="!user.info.icon">
                  <img *ngIf="user.info.icon" alt="Image placeholder" [src]="user.info.icon">
                  <div *ngIf="!user.info.icon" class="text-white custom-fs-21 lh-100 font-weight-900" style="transform: translateY(5%)">{{getFullName()}}</div>                </a>
              </div>
              <div class="col ml-md-n2">
                <a href="#!" class="d-block h6 mb-0 custom-fs-18">{{user.info.name}}</a>
                <small class="d-block text-black color-black custom-fs-14">{{user.info.profile}}</small>
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-xs btn-primary btn-icon rounded-pill btn-secondary" (click)="openEditModal()">
                  <span class="btn-inner--icon"><i class="fa fa-pencil"></i></span>
                  <span class="btn-inner--text">Edit</span>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body pb-0">
            <div class="row mb-3 align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  <img src="assets/icons/gmail_ico.svg" class="gmail-ico mr-3">
                  <a class="link" target="_blank"
                    [href]="'mailto:' + user.info.social_media.mail">{{user.info.social_media.mail}}</a>
                </h6>
              </div>
            </div>
            <div class="row my-3 align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  <i class="fa fa-phone mr-3"></i>{{user.info.social_media.phone}}
                </h6>
              </div>
            </div>
            <div class="row my-3 align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  <i class="fa fa-paper-plane mr-3"></i>
                  <a class="link" target="_blank"
                    [href]="user.info.social_media.telegram?.link">{{user.info.social_media.telegram?.username}}</a>
                </h6>
              </div>
            </div>
            <div class="row my-3 align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0 d-flex">
                  <i class="fa fa-linkedin-square mr-3"></i>
                  <a class="link" target="_blank" [href]="user.info.social_media.linkedin"><span class="link">{{user.info.social_media.linkedin}}</span></a>
                </h6>
              </div>
            </div>
          </div>
          <div class="card-footer p-2 d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center">
              <div class="h5 mb-0 text-secondary">Резидент</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Profile stats -->
        <div class="card card-fluid">
          <div class="d-flex justify-content-center card-title small mt-1 custom-fs-12"></div>
          <div class="card-body p-0 row">
            <div class="col-lg-6 d-flex flex-column justify-content-between">
              <div class="bottom-light-border mx-4 py-3">
                <div class="mb-3 color-black font-weight-300 custom-fs-13">Всего</div>
                <span class="text-success h2 font-weight-bold mr-2" [class.text-primary]='user.activity.totalDays.average === user.activity.totalDays.current'
                [class.text-warning]='user.activity.totalDays.average < user.activity.totalDays.current' [class.text-success]='user.activity.totalDays.average > user.activity.totalDays.current'>{{user.activity.totalDays.current}}</span>
                <span class="custom-fs-12">дней</span>
              </div>
              <div class="ml-4 mr-3 py-3">
                <div class="mb-3 color-black font-weight-300 custom-fs-13">{{user.activity.totalDays.average > user.activity.totalDays.current ? 'Раньше на' : 'Использовал запасных'}}</div>
                <span class="text-success h2 font-weight-bold mr-2" [class.text-primary]='user.activity.totalDays.average === user.activity.totalDays.current'
                [class.text-warning]='user.activity.totalDays.average < user.activity.totalDays.current' [class.text-success]='user.activity.totalDays.average > user.activity.totalDays.current'>{{user.activity.totalDays.average - user.activity.totalDays.current | abs}}</span>
                <span class="custom-fs-12">дня</span>
                <span class="float-right small text-right pt-1 custom-fs-10">{{user.activity.totalDays.average > user.activity.totalDays.current ? 'Быстрее' : 'Медленнее'}}<br>среднего на {{getPercentOfDiffrence(user.activity.totalDays.average, user.activity.totalDays.current) | round | abs}}%</span>
              </div>
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-around left-light-border">
              <div class="ml-3">
                <div class="color-black font-weight-300 custom-fs-13">Форма</div>
                <div class="mt-2">
                  <span class="text-primary font-weight-bold h5 mr-1" [class.text-primary]='user.activity.formDays.average === user.activity.formDays.current'
                  [class.text-warning]='user.activity.formDays.average < user.activity.formDays.current' [class.text-success]='user.activity.formDays.average > user.activity.formDays.current'>{{user.activity.formDays.current}}</span><span class="custom-fs-12">{{user.activity.formDays.current > 1 ? "дня " : "день"}}</span> 
                </div>
              </div>
              <div class="ml-3">
                <div class="color-black font-weight-300 custom-fs-13">Тестовое</div>
                <div class="mt-2">
                  <span class="text-primary font-weight-bold h5 mr-1" [class.text-primary]='user.activity.testDays.average === user.activity.testDays.current'
                  [class.text-warning]='user.activity.testDays.average < user.activity.testDays.current' [class.text-success]='user.activity.testDays.average > user.activity.testDays.current'>{{user.activity.testDays.current}}</span><span class="custom-fs-12">{{user.activity.testDays.current > 1 ? "дня " : "день"}}</span> 
                  <span class="float-right small mr-4">Ошибок {{user.activity.testDays.mistakes}}</span>
                </div>
              </div>
              <div class="ml-3">
                <div class="color-black font-weight-300 custom-fs-13">Практическое</div>
                <div class="mt-2">
                  <span class="text-primary font-weight-bold h5 mr-1" [class.text-primary]='user.activity.practiceDays.average === user.activity.practiceDays.current'
                  [class.text-warning]='user.activity.practiceDays.average < user.activity.practiceDays.current' [class.text-success]='user.activity.practiceDays.average > user.activity.practiceDays.current'>{{user.activity.practiceDays.current}}</span><span class="custom-fs-12">{{user.activity.practiceDays.current > 1 ? "дня " : "день"}}</span> 
                  <span class="float-right small mr-4" *ngIf="user.activity.practiceDays.mistakes">Ошибок {{user.activity.practiceDays.mistakes}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer no-top-border"></div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Profile stats -->
        <div class="card card-fluid" [class.disabled]='hasSolution'>
          <div class="d-flex justify-content-center card-title small mt-3" [class.disabled]='hasSolution'></div>
          <div class="card-body py-0 row mt-3">
            <div>
              <ul class="custom__ul">
                <li *ngFor="let state of userStates; let i = index" [class._selected]="user.userStateId === state.id"
                  (click)="user.userStateId = state.id" class="pl-1 custom_checkbox lh-120 text-sm"
                  [class.pb-4]="i !== userStates.length - 1">
                  {{state.name}}
                </li>
              </ul>
            </div>
            <button class="btn btn-secondary btn-xs mx-3 custom-btn w-100" [disabled]="user.userStateId === null || hasSolution" (click)="showSuccess(); openSubmitModal()">
              <span class="h6 text-white">Подтвердить</span>
            </button>
          </div>
          <div class="card-footer no-top-border"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-title m-4">
            <span class="h4 font-weight-900 custom-fs-18">Общая информация(анкета и письмо)</span>
            <div class="float-right">
              <div class="d-flex justify-content-between">
                <div class="mr-5 d-flex flex-column custom-fs-14">
                  <span class="text-muted">Начал:</span>
                  <span>{{user.genInfo.studyingTime.began}}</span>
                </div>
                <div class="d-flex flex-column mr-3 custom-fs-14">
                  <span class="text-muted">Закончил:</span>
                  <span>{{user.genInfo.studyingTime.finished}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-lg-6">
                <p class="_card-subtitle font-weight-900">Образование:</p>
                <p class="h6 custom-fs-14 pb-2">Учебное заведение: {{user.genInfo.education.institution}}</p>
                <p class="h6 custom-fs-14 pb-2">Факультет: {{user.genInfo.education.faculty}}</p>
                <p class="h6 custom-fs-14">Другие достижения: {{user.genInfo.education.otherAchievements}}.</p>
              </div>
              <div class="col-lg-6 pl-4">
                <p class="_card-subtitle font-weight-bolder ml-2">Мотивация:</p>
                <div class="h6 pb-2 pr-5 fs-9 ml-2">
                {{user.genInfo.motivation}} 
                <!-- <span class="float-right text-primary font-weight-bold">Больше <i class="fa fa-angle-down"></i></span> -->
                </div>
              </div>
              <div class="col-lg-6 mt-3 profile__table-hardSkills">
                <p class="_card-subtitle font-weight-bolder">Самооценка Hard Skills:</p>
                <table class="table custom-table ">
                  <thead>
                    <tr>
                      <th scope="col" class="pr-1">Направление</th>
                      <th scope="col" class="pr-3">Не знаю</th>
                      <th scope="col" class="pr-1">Читал немного</th>
                      <th scope="col" class="pr-1">Хорошо знаю</th>
                      <th scope="col" class="pr-1">Постоянно пишу</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tableHardSkill of user.genInfo.tableHardSkill">
                      <td scope="row">{{tableHardSkill.name}}</td>
                      <td [class.disabled]="tableHardSkill.userRating === 1"></td>
                      <td [class.disabled]="tableHardSkill.userRating === 2"></td>
                      <td [class.disabled]="tableHardSkill.userRating === 3"></td>
                      <td [class.disabled]="tableHardSkill.userRating === 4"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-6 pl-4 mt-3">
                <p class="_card-subtitle font-weight-bolder ml-2">Самооценка Soft Skills:</p>
                <table class="table custom-table table-sm ml-2">
                  <thead>
                    <tr>
                      <th scope="col" class="">Качество</th>
                      <th scope="col" class="py-1 px-3">Сильная сторона</th>
                      <th scope="col" class="pr-1 px-3">Стоит попробовать</th>
                      <th scope="col" class="py-1 px-2">Слабая сторона</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tableSoftSkill of user.genInfo.tableSoftSkill">
                      <td scope="row">{{tableSoftSkill.name}}</td>
                      <td [class.disabled]="tableSoftSkill.userRating === 1"></td>
                      <td [class.disabled]="tableSoftSkill.userRating === 2"></td>
                      <td [class.disabled]="tableSoftSkill.userRating === 3"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card" *ngIf="user.testTasks?.length">
          <div class="card-title m-4 pt-1">
            <span class="h4 font-weight-900 custom-fs-18">Тестовое</span>
            <div class="d-inline-flex float-right temp_choose-tab" *ngIf="user.testTasks?.length >= 1">
              <button *ngFor="let test of user.testTasks" (click)="showTest(test)"
                      [class.btn-light]="selectedTest !== test"
                      [class.text-muted]="selectedTest !== test"
                      [class.disabled]="selectedTest !== test"
                class="btn btn-sm btn-secondary float-right fs-10 m-0 card-btn-label lh-120">
                {{test.name}}
              </button>
            </div>  
        </div>
          <div class="card-body pt-0 pb-0">
            <div class="h6 row font-weight-normal pb-3" *ngIf="selectedTest.status != null && selectedTest.status <= 1">
              <div class="col-lg-4 custom-fs-13">Статус:</div>
              <div class="col-lg-8 pl-0">
                <div class="d-inline-block block_success text-white custom-fs-14" [class.bg-warning]="selectedTest.status == 0">{{ selectedTest.status | taskStatus}}</div>
              </div>
            </div>
            <div class="h6 row font-weight-normal pb-3" *ngIf="selectedTest.daysSpent">
              <div class="col-lg-4 custom-fs-13">Затрачено дней: <img *ngIf="selectedTest.daysSpent > 10" src="assets/icons/info.svg" alt="info-result"
                ngbPopover="Превышено более чем на 3 дня" triggers="mouseenter:mouseleave"
                popoverClass="info-popover-custom"></div>
              <div class="col-lg-8 px-0">
                <div *ngFor="let day of getArrayDays(selectedTest.daysSpent)" class="d-inline-block custom-fs-12 used-day" [class.checked]="day <= 7 && selectedTest.daysSpent >= day" [class.days-extra-color]="day > 7"><span>{{day}}</span></div>
              </div>
            </div>
            <div class="h6 row font-weight-normal pb-3" *ngIf="selectedTest.result">
              <div class="col-lg-4 custom-fs-13">Оценка: <img src="assets/icons/info.svg" alt="info-result"
                ngbPopover="Превышено более чем на 3 дня" triggers="mouseenter:mouseleave"
                popoverClass="info-popover-custom"></div>
              <div class="col-lg-8 px-0 color-black custom-fs-14" class="test__result">
                <div class="custom-fs-14">
                  <span class="font-weight-bolder">{{selectedTest.result?.points < (selectedTest.result?.maxPossiblePoints / 2) ? "Плохо" : "Хорошо"}}</span> ({{selectedTest.result?.points}}/{{selectedTest.result?.maxPossiblePoints}} баллов)
                </div>
            </div>
          </div>
            <div class="h6 row font-weight-normal pb-3" *ngIf="selectedTest.mistakes">
              <div class="col-lg-4 custom-fs-13">Ошибок:</div>
              <div class="col-lg-8 px-0 color-black custom-fs-14">{{selectedTest.mistakes}}</div>
            </div>
            <!-- <div class="h6 row font-weight-normal pb-3">
              <div class="col-lg-4">Баллы проф репутации:</div>
              <div class="col-lg-8 px-0 color-black">
                <div class="badge badge-soft-success fs-11 font-weight-normal">
                  <img src="assets/icons/arrow-up.svg" class="mb-1 mr-1" />15
                </div>
              </div>
            </div> -->
            <div class="big-divider"></div>
            <div class="h6 row font-weight-normal pb-3" *ngIf="selectedTest.source">
              <div class="sources pr-0 custom-fs-13">Исходники:</div>
              <div class="col-lg-8 px-0 color-black">
                <div class="d-inline-flex align-items-center">
                  <div class="col-auto">
                    <img alt="Image placeholder" src="assets/icons/psd.png" class="img-fluid file_main-image">
                  </div>
                  <div class="col ml-n2">
                    <span class="text-sm mb-0 custom-fs-13">
                      <a href="#!">{{selectedTest.source?.nameFile}}.{{selectedTest.source?.type}}</a>
                    </span>
                    <p class="card-text mt-1 small text-muted custom-fs-13">{{selectedTest.source?.size}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card custom-card" *ngIf="user.practiceTasks?.length">
          <div class="card-title m-4 pt-1">
            <span class="h4 font-weight-900 custom-fs-18">Практическое</span>
            <div class="d-inline-flex float-right temp_choose-tab" *ngIf="user.practiceTasks?.length >= 1">
              <button *ngFor="let practice of user.practiceTasks" (click)="showPractice(practice)"
                      [class.btn-light]="selectedPractice !== practice"
                      [class.text-muted]="selectedPractice !== practice"
                      [class.disabled]="selectedPractice !== practice"
                class="btn btn-sm btn-secondary float-right fs-10 m-0 card-btn-label lh-120">
                {{practice.name}}
              </button>
            </div>  
          </div>
          <div class="card-body pt-0 pb-0">
            <div class="h6 row font-weight-normal pb-3" *ngIf="selectedPractice.status != null && selectedPractice.status <= 1">
              <div class="col-lg-4 custom-fs-13">Статус:</div>
              <div class="col-lg-8 pl-0">
                <div class="d-inline-block block_success text-white custom-fs-14" [class.bg-warning]="selectedPractice.status == 0">{{ selectedPractice.status | taskStatus}}</div>
              </div>
            </div>
            <div class="h6 row font-weight-normal pb-3" *ngIf="selectedPractice.daysSpent">
              <div class="col-lg-4 custom-fs-13">Затрачено дней: <img *ngIf="selectedPractice.daysSpent > 10" src="assets/icons/info.svg" alt="info-result"
                ngbPopover="Превышено более чем на 3 дня" triggers="mouseenter:mouseleave"
                popoverClass="info-popover-custom"></div>
              <div class="col-lg-8 px-0">
                  <div *ngFor="let day of getArrayDays(selectedPractice.daysSpent)" class="d-inline-block custom-fs-12 used-day" [class.checked]="day <= 7 && selectedPractice.daysSpent >= day" [class.days-extra-color]="day > 7"><span>{{day}}</span></div>
              </div>
            </div>
            <div class="h6 row font-weight-normal pb-3 " *ngIf="selectedPractice.rating">
              <div class="col-lg-4 custom-fs-13">Оценка: <img src="assets/icons/info.svg" alt="info-result"
                ngbPopover="Превышено более чем на 3 дня" triggers="mouseenter:mouseleave"
                popoverClass="info-popover-custom"></div>
              <div class="col-lg-8 px-0 color-black custom-fs-14">
                {{selectedPractice.rating?.points < (selectedPractice.rating?.maxPossiblePoints / 2) ? "Плохо" : "Хорошо"}} ({{selectedPractice.rating?.points}}/{{selectedPractice.rating?.maxPossiblePoints}} баллов)
              </div>
            </div>
            <div class="h6 row font-weight-normal pb-4" *ngIf="selectedPractice.feedback">
              <div class="col-lg-4 custom-fs-13">Фитбек от ментора:</div>
              <div class="col-lg-8 px-0 color-black custom-fs-14">
                {{selectedPractice.feedback}}
                <span class="float-right text-primary font-weight-bold mr-3">Больше <i class="fa fa-angle-down"></i></span>
              </div>
            </div>
            <!-- <div class="h6 row font-weight-normal pb-1 custom-fs-13">
              <div class="col-lg-12">Сравнение оценок:</div>
            </div> -->
            <table class="table custom-table" *ngIf="selectedPractice.tableRating">
              <thead>
                <tr>
                  <th scope="col" class="pr-1">Направление</th>
                  <th scope="col" class="px-3">Не знаю</th>
                  <th scope="col" class="px-3">Читал немного</th>
                  <th scope="col" class="px-3">Хорошо знаю</th>
                  <th scope="col" class="px-3">Постоянно пишу</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tablePractice of selectedPractice.tableRating">
                  <td scope="row">{{tablePractice.name}}</td>
                  <td [class.disabled]="tablePractice.userRating === 1 || tablePractice.mentorRating === 1"></td>
                  <td [class.disabled]="tablePractice.userRating === 2 || tablePractice.mentorRating === 2"></td>
                  <td [class.disabled]="tablePractice.userRating === 3 || tablePractice.mentorRating === 3"></td>
                  <td [class.disabled]="tablePractice.userRating === 4 || tablePractice.mentorRating === 4"></td>
                </tr>
              </tbody>
            </table>
            <div class="h6 row font-weight-normal pb-3 pt-3 mt-4" *ngIf="selectedPractice.source">
              <div class="sources pr-0 custom-fs-13">Исходники:</div>
              <div class="col-lg-8 px-0 color-black">
                <div class="d-inline-flex align-items-center">
                  <div class="col-auto">
                    <img alt="Image placeholder" src="assets/icons/psd.png" class="img-fluid file_main-image">
                  </div>
                  <div class="col ml-n2">
                    <h6 class="text-sm mb-0 custom-fs-13">
                      <a href="#!">{{selectedPractice.source?.nameFile}}.{{selectedPractice.source?.type}}</a>
                    </h6>
                    <p class="card-text mt-1 small text-muted">{{selectedPractice.source?.size}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="user.softSkill">
      <div class="col">
        <div class="card">
          <div class="card-title m-4">
            <span class="h4 font-weight-900 custom-fs-18">Soft skills:</span>
          </div>
          <div class="card-body">
            <p class="_card-subtitle font-weight-bolder">Сравнение оценок:</p>
            <table class="table custom-table table-bg">
              <thead>
                <tr>
                  <th scope="col">Направление</th>
                  <th scope="col" class="py-1">Не знаю</th>
                  <th scope="col">Читал немного</th>
                  <th scope="col" class="py-1">Хорошо знаю</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let skill of user.softSkill">
                  <td scope="row">{{skill.name}}</td>
                  <td [class.disabled]="skill.userRating === 1"
                    [class.block-mentor-and-user]="skill.userRating === skill.mentorRating && skill.userRating === 1"
                    [class.block-mentor]="skill.mentorRating === 1"></td>
                  <td [class.disabled]="skill.userRating === 2"
                    [class.block-mentor-and-user]="skill.userRating === skill.mentorRating && skill.userRating === 2"
                    [class.block-mentor]="skill.mentorRating === 2"></td>
                  <td [class.disabled]="skill.userRating === 3"
                    [class.block-mentor-and-user]="skill.userRating === skill.mentorRating && skill.userRating === 3"
                    [class.block-mentor]="skill.mentorRating === 3"></td>
                </tr>
                <tr>
                  <td colspan="5">
                    <div class="d-flex custom-fs-14">
                      <div class="rating-block block-description-1"></div>
                      <span class="rating-block-description ">- самооценка</span>
                      <div class="rating-block block-description-2"></div>
                      <span class="rating-block-description ">- оценка ментора</span>
                      <div class="rating-block block-description-3"></div>
                      <span class="rating-block-description ">- совпадает</span>
                    </div>
                  </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="d-flex justify-content-center my-5">
          <button class="btn btn-secondary custom-btn py-2 px-5 w-25" (click)="scrollToTop()" >
            Принять решение
          </button>
        </div>
      </div>
    </div>
  </div>
