<div class="container-fluid container-application mt-4 d-block" *ngIf="user">
    <span class="text-white h3">{{user.info.name}}</span>
    <ul class="nav mt-4">
      <ng-container *ngFor="let state of states; let i = index">
        <li *ngIf="i !== 0" class="nav-item border-bottom pr-3" [class.not-active]="!state.active"></li>
        <li class="nav-item border-bottom" [class.not-active]="!state.active">
          <a class="nav-link h5 pr-0 pb-1" [class.text-white]="state.active" [class.pl-0]="i === 0">{{state.name}}</a>
        </li>
      </ng-container>
      <li class="nav-item get-rest border-bottom" [class.not-active]="!states[states.length - 1].active"></li>
    </ul>
    <div class="row mt-4">
      <div class="col-lg-4">
        <!-- Profile stats -->
        <div class="card card-fluid">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-auto">
                <!-- Avatar -->
                <a href="#" class="avatar rounded-circle">
                  <img alt="Image placeholder" [src]="user.info.icon">
                </a>
              </div>
              <div class="col ml-md-n2">
                <a href="#!" class="d-block h6 mb-0">{{user.info.name}}</a>
                <small class="d-block text-black color-black">{{user.info.profile}}</small>
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-xs btn-primary btn-icon rounded-pill btn-secondary">
                  <span class="btn-inner--icon"><i class="fa fa-pencil"></i></span>
                  <span class="btn-inner--text">Edit</span>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body pb-0">
            <div class="row mb-3 align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  <img src="assets/icons/gmail_ico.svg" class="gmail-ico mr-3">
                  <a class="link" target="_blank"
                    [href]="'mailto:' + user.info.social_media.mail">{{user.info.social_media.mail}}</a>
                </h6>
              </div>
            </div>
            <div class="row my-3 align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  <i class="fa fa-phone mr-3"></i>{{user.info.social_media.phone}}
                </h6>
              </div>
            </div>
            <div class="row my-3 align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  <i class="fa fa-paper-plane mr-3"></i>
                  <a class="link" target="_blank"
                    [href]="user.info.social_media.telegram.link">{{user.info.social_media.telegram.username}}</a>
                </h6>
              </div>
            </div>
            <div class="row my-3 align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0 d-flex">
                  <i class="fa fa-linkedin-square mr-3"></i>
                  <a class="link" target="_blank" [href]="user.info.social_media.linkedin"><span
                      class="link">{{user.info.social_media.linkedin}}</span></a>
                </h6>
              </div>
            </div>
          </div>
          <div class="card-footer p-2 d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center">
              <div class="h5 mb-0 text-secondary">Resident</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Profile stats -->
        <div class="card card-fluid">
          <div class="d-flex justify-content-center card-title small mt-1">Activity</div>
          <div class="card-body p-0 row">
            <div class="col-lg-6 d-flex flex-column justify-content-between">
              <div class="bottom-light-border mx-4 py-3">
                <div class="mb-3 color-black font-weight-300">Всего</div>
                <span class="text-success h2 font-weight-bold mr-2"
                  [class.text-primary]='user.activity.totalDays.average === user.activity.totalDays.current'
                  [class.text-warning]='user.activity.totalDays.average < user.activity.totalDays.current'
                  [class.text-success]='user.activity.totalDays.average > user.activity.totalDays.current'>8</span>
                <span>дней</span>
              </div>
              <div class="ml-4 mr-3 py-3">
                <div class="mb-3 color-black font-weight-300">Раньше на</div>
                <span class="text-success h2 font-weight-bold mr-2"
                  [class.text-primary]='user.activity.totalDays.average === user.activity.totalDays.current'
                  [class.text-warning]='user.activity.totalDays.average < user.activity.totalDays.current'
                  [class.text-success]='user.activity.totalDays.average > user.activity.totalDays.current'>2</span>
                <span>дня</span>
                <span class="float-right small text-right">Быстрее<br>среднего на
                  {{getPercentOfDiffrence(user.activity.totalDays.average, user.activity.totalDays.current) | round}}%</span>
              </div>
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-around left-light-border">
              <div class="ml-3">
                <div class="color-black font-weight-300">Форма</div>
                <div class="mt-2">
                  <span class="text-primary font-weight-bold h5 mr-1"
                    [class.text-primary]='user.activity.formDays.average === user.activity.formDays.current'
                    [class.text-warning]='user.activity.formDays.average < user.activity.formDays.current'
                    [class.text-success]='user.activity.formDays.average > user.activity.formDays.current'>1</span>день
                </div>
              </div>
              <div class="ml-3">
                <div class="color-black font-weight-300">Тестовое</div>
                <div class="mt-2">
                  <span class="text-primary font-weight-bold h5 mr-1"
                    [class.text-primary]='user.activity.testDays.average === user.activity.testDays.current'
                    [class.text-warning]='user.activity.testDays.average < user.activity.testDays.current'
                    [class.text-success]='user.activity.testDays.average > user.activity.testDays.current'>{{user.activity.testDays.current}}</span>
                  дня
                  <span class="float-right small mr-4">{{user.activity.testDays.mistakes}} ошибок</span>
                </div>
              </div>
              <div class="ml-3">
                <div class="color-black font-weight-300">Практическое</div>
                <div class="mt-2">
                  <span class="text-primary font-weight-bold h5 mr-1"
                    [class.text-primary]='user.activity.practiceDays.average === user.activity.practiceDays.current'
                    [class.text-warning]='user.activity.practiceDays.average < user.activity.practiceDays.current'
                    [class.text-success]='user.activity.practiceDays.average > user.activity.practiceDays.current'>{{user.activity.practiceDays.current}}</span>
                  дня
                  <span class="float-right small mr-4">{{user.activity.practiceDays.mistakes}} ошибки</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer no-top-border"></div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Profile stats -->
        <div class="card card-fluid" [class.disabled]='hasSolution'>
          <div class="d-flex justify-content-center card-title small mt-1" [class.disabled]='hasSolution'>Solution</div>
          <div class="card-body py-0 row">
            <div>
              <ul class="custom__ul">
                <li *ngFor="let state of userStates; let i = index" [class._selected]="selectedUserStateId === state.id"
                  (click)="selectedUserStateId = state.id" class="pl-1 custom_checkbox lh-120"
                  [class.pb-4]="i !== userStates.length - 1">
                  {{state.name}}
                </li>
              </ul>
            </div>
            <button class="btn btn-secondary btn-xs mx-3 custom-btn w-100" [disabled]="selectedUserStateId === null || hasSolution" (click)="hasSolution = !hasSolution">
              <span class="h6 text-white">Подтвердить</span>
            </button>
          </div>
          <div class="card-footer no-top-border"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-title m-4">
            <span class="h4 font-weight-900">Общая информация(анкета и письмо)</span>
            <div class="float-right">
              <div class="d-flex justify-content-between">
                <div class="mr-5 d-flex flex-column">
                  <span class="text-muted">Начал:</span>
                  <span>{{user.genInfo.studyingTime.began}}</span>
                </div>
                <div class="d-flex flex-column mr-3">
                  <span class="text-muted">Закончил:</span>
                  <span>{{user.genInfo.studyingTime.finished}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-lg-6">
                <p class="_card-subtitle font-weight-bolder">Образование:</p>
                <p class="h6 pb-2">Учебное заведение: {{user.genInfo.education.institution}}</p>
                <p class="h6 pb-2">Факультет: {{user.genInfo.education.faculty}}</p>
                <p class="h6 pd-2">Другие достижения: {{user.genInfo.education.otherAchievements}}.</p>
              </div>
              <div class="col-lg-6 pl-4">
                <p class="_card-subtitle font-weight-bolder">Мотивация:</p>
                <div class="h6 pb-2 pr-5">
                  {{user.genInfo.motivation}}
                  <span class="float-right text-primary font-weight-bold">Больше <i class="fa fa-angle-down"></i></span>
                </div>
              </div>
              <div class="col-lg-6 mt-3 profile__table-hardSkills">
                <p class="_card-subtitle font-weight-bolder">Самооценка Hard Skills:</p>
                <table class="table custom-table ">
                  <thead>
                    <tr>
                      <th scope="col" class="pr-1">Направление</th>
                      <th scope="col" class="pr-1">Не знаю</th>
                      <th scope="col" class="pr-1">Читал немного</th>
                      <th scope="col" class="pr-1">Хорошо знаю</th>
                      <th scope="col" class="pr-1">Постоянно пишу</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let thing of user.genInfo.tableHardSkill">
                      <td scope="row">{{thing.name}}</td>
                      <td [class.disabled]="thing.userRating === 1"></td>
                      <td [class.disabled]="thing.userRating === 2"></td>
                      <td [class.disabled]="thing.userRating === 3"></td>
                      <td [class.disabled]="thing.userRating === 4"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-6 mt-3" style="padding-left: 2rem;">
                <p class="_card-subtitle font-weight-bolder">Самооценка Soft Skills:</p>
                <table class="table custom-table table-sm" style="max-width: none!important;">
                  <thead>
                    <tr>
                      <th scope="col" class="pr-1">Качество</th>
                      <th scope="col" class="py-1 pr-1">Сильная сторона</th>
                      <th scope="col" class="pr-1">Слабая сторона</th>
                      <th scope="col" class="py-1 pr-1">Стоит поработать</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let thing of user.genInfo.tableSoftSkill">
                      <td scope="row">{{thing.name}}</td>
                      <td [class.disabled]="thing.userRating === 1"></td>
                      <td [class.disabled]="thing.userRating === 2"></td>
                      <td [class.disabled]="thing.userRating === 3"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-title m-4 pt-1">
            <span class="h4 font-weight-900">Тестовое</span>
            <button class="btn btn-sm btn-secondary float-right fs-10 card-btn-label lh-120">SQL</button>
          </div>
          <div class="card-body pt-0 pb-0">
            <div class="h6 row font-weight-normal pb-3">
              <div class="col-lg-4">Статус:</div>
              <div class="col-lg-8 pl-0">
                <div class="d-inline-block block_success text-white">{{ user.testTaskBlock.status | taskStatus}}
                </div>
              </div>
            </div>
            <div class="h6 row font-weight-normal pb-3">
              <div class="col-lg-4">Затрачено дней: <img src="assets/icons/info.svg" alt="info-result"
                ngbPopover="Превышено более чем на 3 дня" triggers="mouseenter:mouseleave"
                popoverClass="info-popover-custom"></div>
              <div class="col-lg-8 px-0">
                <div class="d-inline-block fs-9 used-day" [class.checked]="user.testTaskBlock.daysSpent > day"
                  *ngFor="let day of arrayOfDays"><span>{{day + 1}}</span></div>
              </div>
            </div>
            <div class="h6 row font-weight-normal pb-3">
              <div class="col-lg-4">Результат: <img src="assets/icons/info.svg" alt="info-result"
                ngbPopover="Превышено более чем на 3 дня" triggers="mouseenter:mouseleave"
                popoverClass="info-popover-custom"></div>
              <div class="col-lg-8 px-0 color-black fs-11" class="test__result">
                <span class="font-weight-bolder">Хорошо</span>
                ({{user.testTaskBlock.result.points}}/{{user.testTaskBlock.result.maxPossiblePoints}} баллов)
              </div>
            </div>
            <div class="h6 row font-weight-normal pb-3">
              <div class="col-lg-4">Ошибок:</div>
              <div class="col-lg-8 px-0 color-black fs-11">{{user.testTaskBlock.mistakes}}</div>
            </div>
            <!-- <div class="h6 row font-weight-normal pb-3">
              <div class="col-lg-4">Баллы проф репутации:</div>
              <div class="col-lg-8 px-0 color-black">
                <div class="badge badge-soft-success fs-11 font-weight-normal">
                  <img src="assets/icons/arrow-up.svg" class="mb-1 mr-1" />15
                </div>
              </div>
            </div> -->
            <div class="big-divider"></div>
            <div class="h6 row font-weight-normal pb-3">
              <div class="sources pr-0">Исходники:</div>
              <div class="col-lg-8 px-0 color-black">
                <div class="d-inline-flex align-items-center">
                  <div class="col-auto">
                    <img alt="Image placeholder" src="assets/icons/psd.png" class="img-fluid file_main-image">
                  </div>
                  <div class="col ml-n2">
                    <h6 class="text-sm mb-0">
                      <a href="#!">{{user.testTaskBlock.source?.nameFile}}.{{user.testTaskBlock.source?.type}}</a>
                    </h6>
                    <p class="card-text mt-1 small text-muted">{{user.testTaskBlock.source.size}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card" *ngFor="let thing of user.practiceTaskBlock">
          <div class="card-title m-4 pt-1">
            <span class="h4 font-weight-900">Практическое</span>
            <div class="float-right temp_choose-tab">
              <button class="btn btn-sm m-0 temp_btn btn-secondary fs-10 lh-120">PHP</button>
              <button class="btn btn-sm m-0 temp_btn btn-light fs-10 lh-120">Front-end</button>
            </div>
          </div>
          <div class="card-body pt-0 pb-0">
            <div class="h6 row font-weight-normal pb-3">
              <div class="col-lg-4">Статус:</div>
              <div class="col-lg-8 pl-0">
                <div class="d-inline-block block_success text-white">{{thing.status | taskStatus}}</div>
              </div>
            </div>
            <div class="h6 row font-weight-normal pb-3">
              <div class="col-lg-4">Затрачено дней: <img src="assets/icons/info.svg" alt="info-result"
                ngbPopover="Превышено более чем на 3 дня" triggers="mouseenter:mouseleave"
                popoverClass="info-popover-custom"></div>
              <div class="col-lg-8 px-0">
                <div class="d-inline-block fs-9 used-day checked" [class.checked]="thing.daysSpent > day" *ngFor="let day of arrayOfDays"><span>{{day + 1}}</span></div>
              </div>
            </div>
            <div class="h6 row font-weight-normal pb-3">
              <div class="col-lg-4">Оценка: <img src="assets/icons/info.svg" alt="info-result"
                ngbPopover="Превышено более чем на 3 дня" triggers="mouseenter:mouseleave"
                popoverClass="info-popover-custom"></div>
              <div class="col-lg-8 px-0 color-black fs-11">
                Выполнено с мелкими ошибками ({{thing.rating.points}}/{{thing.rating.maxPossiblePoints}} баллов)
              </div>
            </div>
            <div class="h6 row font-weight-normal pb-4">
              <div class="col-lg-4">Фитбек от ментора:</div>
              <div class="col-lg-8 px-0 color-black fs-11">
                {{thing.feetback}}
                <span class="float-right text-primary font-weight-bold mr-3">Больше <i
                    class="fa fa-angle-down"></i></span>
              </div>
            </div>
            <div class="h6 row font-weight-normal pb-1">
              <div class="col-lg-12">Сравнение оценок:</div>
            </div>
            <table class="table custom-table">
              <thead>
                <tr>
                  <th scope="col" class="pr-1"></th>
                  <th scope="col" class="pr-1">Не знаю</th>
                  <th scope="col" class="pr-1">Читал немного</th>
                  <th scope="col" class="pr-1">Хорошо знаю</th>
                  <th scope="col" class="pr-1">Постоянно пишу</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let thing of thing.tableRating">
                  <td scope="row">{{thing.name}}</td>
                  <td [class.disabled]="thing.userRating === 1 || thing.mentorRating === 1"></td>
                  <td [class.disabled]="thing.userRating === 2 || thing.mentorRating === 2"></td>
                  <td [class.disabled]="thing.userRating === 3 || thing.mentorRating === 3"></td>
                  <td [class.disabled]="thing.userRating === 4 || thing.mentorRating === 4"></td>
                </tr>
              </tbody>
            </table>
            <div class="h6 row font-weight-normal pb-3 pt-3 mt-4">
              <div class="sources pr-0">Исходники:</div>
              <div class="col-lg-8 px-0 color-black">
                <div class="d-inline-flex align-items-center">
                  <div class="col-auto">
                    <img alt="Image placeholder" src="assets/icons/psd.png" class="img-fluid file_main-image">
                  </div>
                  <div class="col ml-n2">
                    <h6 class="text-sm mb-0">
                      <a href="#!">{{thing.source?.nameFile}}.{{thing.source?.type}}</a>
                    </h6>
                    <p class="card-text mt-1 small text-muted">{{thing.source?.size}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-title m-4">
            <span class="h4 font-weight-900">Soft skills:</span>
          </div>
          <div class="card-body">
            <p class="_card-subtitle font-weight-bolder">Сравнение оценок:</p>
            <table class="table custom-table table-bg">
              <thead>
                <tr>
                  <th scope="col">Владение</th>
                  <th scope="col" class="py-1">Сильная сторона</th>
                  <th scope="col">Стоит поработать</th>
                  <th scope="col" class="py-1">Слабая сторона</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let skill of user.softSkillBlock">
                  <td scope="row">{{skill.name}}</td>
                  <td [class.disabled]="skill.userRating === 1"
                    [class.block-mentor-and-user]="skill.userRating === skill.mentorRating && skill.userRating === 1"
                    [class.block-mentor]="skill.mentorRating === 1"></td>
                  <td [class.disabled]="skill.userRating === 2"
                    [class.block-mentor-and-user]="skill.userRating === skill.mentorRating && skill.userRating === 2"
                    [class.block-mentor]="skill.mentorRating === 2"></td>
                  <td [class.disabled]="skill.userRating === 3"
                    [class.block-mentor-and-user]="skill.userRating === skill.mentorRating && skill.userRating === 3"
                    [class.block-mentor]="skill.mentorRating === 3"></td>
                </tr>
                <tr>
                  <td colspan="5">
                    <div class="d-flex">
                      <div class="rating-block block-description-1"></div>
                      <span class="rating-block-description ">- самооценка</span>
                      <div class="rating-block block-description-2"></div>
                      <span class="rating-block-description ">- оценка ментора</span>
                      <div class="rating-block block-description-3"></div>
                      <span class="rating-block-description ">- совпадает</span>
                    </div>
                  </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer"></div>
        </div>
        <div class="d-flex justify-content-center my-5">
          <button class="btn btn-secondary custom-btn py-2 px-5 w-25" (click)="scrollToTop()" >
            Принять решение
          </button>
        </div>
      </div>
    </div>
  </div>
