<ng-progress id="progressBar"></ng-progress>
<div class="container-fluid container-application header-custom">
  <!-- Sidenav -->
  <div class="sidenav show ml-0" id="sidenav-main">
    <!-- Sidenav header -->
    <div class="sidenav-header d-flex mb-0 align-items-center p-0 pt-1 mb-0">
      <nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-primary mt-4 custom-navbar p-0 mb-0">
        <div class="container">
          <div class="collapse navbar-collapse pl-0" id="navbar-primary">
            <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item mr-5">
                <a class="nav-link pl-0 custom-fs-16" [routerLink]="['/profile']">Главная</a>
              </li>
              <li class="nav-item dropdown dropdown-custom mr-5">
                <a class="nav-link pr-1 custom-fs-16" [routerLink]="['/directions']"  id="navbar-primary_dropdown_1" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Направление</a>
                <img src="../assets/icons/arrow-down.svg" width="12px" height="7.41px" alt="">
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-primary_dropdown_1"></div>
              </li>
              <li class="nav-item mr-5">
                <a class="nav-link header-link-custom custom-fs-16" href="#">Soft Skills</a>
              </li>
              <li class="nav-item dropdown dropdown-custom mr-5">
                <a class="nav-link pr-1 custom-fs-16" href="#" id="navbar-primary_dropdown_2" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Пользователи</a>
                <img src="../assets/icons/arrow-down.svg" width="12px" height="7.41px" alt="">
                <div class="dropdown-menu" aria-labelledby="navbar-primary_dropdown_1"></div>
              </li>
              <li class="nav-item mr-5">
                <a class="nav-link custom-fs-16" href="#">Карьера</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="ml-auto">
        <!-- Sidenav toggler -->
        <div class="sidenav-toggler sidenav-toggler-dark d-md-none active" data-action="sidenav-unpin"
          data-target="#sidenav-main">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line bg-white"></i>
            <i class="sidenav-toggler-line bg-white"></i>
            <i class="sidenav-toggler-line bg-white"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Misc area -->
  </div>
  <!-- Content -->
  <div class="main-content position-relative">
    <!-- Main nav -->
    <nav class="navbar navbar-main navbar-expand-lg pb-0 mb-0 bg-primary" id="navbar-main">
      <div class="container-fluid">
        <div class="collapse navbar-collapse pr-0 navbar-collapse-fade" id="navbar-main-collapse">
          <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
            <li class="nav-item dropdown dropdown-animate">
              <a class="nav-link pt-0 pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="media media-pill align-items-center">
                  <span class="avatar rounded-circle">
                    <img alt="Image placeholder" [src]="mainUser.icon">
                  </span>
                  <div class="ml-2 d-none d-lg-block">
                    <span class="mb-0 h6 text-white font-weight-bolder">{{mainUser.name}}</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Footer -->
  </div>
</div>
<router-outlet></router-outlet>
