$primary: #006ad7;
$secondary: #4f60fd;
$light: #e6e9ed;
$muted: #8492a6;
$success: #36b37e;
$warning: #ff6930;
// Определиться с названием цвета для модального окна и других окон с этим цветом
$modalColor: #3c4858; 
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

.navbar {
  padding: 2.2rem 0;
}

.nav {
  .nav-item {
    border-width: 2px !important;
    &.not-active {
      border-color: rgba(255, 255, 255, 0.6) !important;
      .nav-link {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
.get-rest {
  flex: 1;
}

.color-black {
  color: black;
}

.color-gray {
  color: $modalColor;
}

._card-subtitle {
  color: $modalColor;
  font-size: 1.1rem;
}

.card-title {
  color: black;
}

.no-top-border {
  border-top: none;
}

.custom-btn {
  border-radius: 8px;
  max-height: 40px;
}

.custom__ul {
  list-style: none;
  color: #3c4858;
}

.temp_choose-tab {
  .temp_btn {
    width: 8.5rem;
  }
}

.card-btn-label {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.big-divider {
  margin-bottom: 14rem;
}

.sources {
  margin-top: 0.75rem;
  padding-left: 10px;
}

.custom-edit-modal{
  color: $modalColor;
}

.group-modal-edit {
  margin-bottom: 16px;
}

.btn-modal-edit {
  height: 35px;
  font-size: 14px;
  padding: 8px 14px;
  background-color: $light;
  border: none;
  color: $primary;
  &.btn-outline-primary:hover {
    color: #fff;
    background-color: #006ad7 !important;
  }
}

.last-group-custom{
  margin-bottom: 1.5rem;
}

.btn-group-modal-edit-floor {
  padding-top: 1.5rem;
  border-top: 1px solid #F1F7FC;
}

.btn-modal-edit-floor{
  &.btn-modal-edit-close{
    background: transparent;
    color: #FF566C;
    border: none;
    padding: 8px 0;
  }
  &.btn-modal-edit-save{
    border: 4px;
    height: 32px;
    line-height: 19px;
  }
}

.modal-edit-links-other{
  color: $muted;
}

.heartbeat {
  animation: heartbeat 1.5s 2;
}


@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1);
  }
  65% {
    transform: scale(1.04);
  }
  80% {
    transform: scale(1);
  }
}

.header-link-custom {
  white-space: nowrap;
}

.file_main-image {
  width: 40px;
}
