<ng-progress #progressBar></ng-progress>
<div class="container-fluid container-application header-custom">
  <!-- Sidenav -->
  <div class="sidenav show ml-0" id="sidenav-main">
    <!-- Sidenav header -->
    <div class="sidenav-header d-flex mb-0 align-items-center p-0 pt-1 mb-0">
      <nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-primary mt-4 custom-navbar p-0 mb-0">
        <div class="container">
          <div class="collapse navbar-collapse pl-0" id="navbar-primary">
            <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item mr-5">
                <a class="nav-link pl-0" href="#">Главная</a>
              </li>
              <li class="nav-item dropdown dropdown-custom mr-5">
                <a class="nav-link pr-1" href="#" id="navbar-primary_dropdown_1" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Направление</a>
                <img src="../assets/icons/arrow-down.svg" width="12px" height="7.41px" alt="">
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-primary_dropdown_1"></div>
              </li>
              <li class="nav-item mr-5">
                <a class="nav-link header-link-custom" href="#">Soft Skills</a>
              </li>
              <li class="nav-item dropdown dropdown-custom mr-5">
                <a class="nav-link pr-1" href="#" id="navbar-primary_dropdown_1" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Пользователи</a>
                <img src="../assets/icons/arrow-down.svg" width="12px" height="7.41px" alt="">
                <div class="dropdown-menu" aria-labelledby="navbar-primary_dropdown_1"></div>
              </li>
              <li class="nav-item mr-5">
                <a class="nav-link" href="#">Карьера</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="ml-auto">
        <!-- Sidenav toggler -->
        <div class="sidenav-toggler sidenav-toggler-dark d-md-none active" data-action="sidenav-unpin"
          data-target="#sidenav-main">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line bg-white"></i>
            <i class="sidenav-toggler-line bg-white"></i>
            <i class="sidenav-toggler-line bg-white"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Misc area -->
  </div>
  <!-- Content -->
  <div class="main-content position-relative">
    <!-- Main nav -->
    <nav class="navbar navbar-main navbar-expand-lg pb-0 mb-0 bg-primary" id="navbar-main">
      <div class="container-fluid">
        <div class="collapse navbar-collapse pr-0 navbar-collapse-fade" id="navbar-main-collapse">
          <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
            <li class="nav-item dropdown dropdown-animate">
              <a class="nav-link pt-0 pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="media media-pill align-items-center">
                  <span class="avatar rounded-circle">
                    <img alt="Image placeholder" [src]="mainUser.icon">
                  </span>
                  <div class="ml-2 d-none d-lg-block">
                    <span class="mb-0 h6 text-white font-weight-bolder">{{
                      mainUser.name
                    }}</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Footer -->
  </div>
</div>
<div class="container-fluid container-application mt-4 d-block">
  <span class="text-white h3">{{user.name}}</span>
  <ul class="nav mt-4">
    <ng-container *ngFor="let state of states; let i = index">
      <li *ngIf="i !== 0" class="nav-item border-bottom pr-3" [class.not-active]="!state.active"></li>
      <li class="nav-item border-bottom" [class.not-active]="!state.active">
        <a class="nav-link h5 pr-0 pb-1" [class.text-white]="state.active" [class.pl-0]="i === 0">{{state.name}}</a>
      </li>
    </ng-container>
    <li class="nav-item get-rest border-bottom" [class.not-active]="!states[states.length - 1].active"></li>
  </ul>
  <div class="row mt-4">
    <div class="col-lg-4">
      <!-- Profile stats -->
      <div class="card card-fluid">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-auto">
              <!-- Avatar -->
              <a href="#" class="avatar rounded-circle">
                <img alt="Image placeholder" [src]="user.icon" class="" />
              </a>
            </div>
            <div class="col ml-md-n2">
              <a href="#!" class="d-block h6 mb-0">{{ user.name }}</a>
              <small class="d-block text-black color-black">{{
                user.profile
              }}</small>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-xs btn-primary btn-icon rounded-pill btn-secondary"
                (click)="ngxSmartModalService.getModal('editModal').open()">
                <span class="btn-inner--icon"><i class="fa fa-pencil"></i></span>
                <span class="btn-inner--text">Edit</span>
              </button>
              <ngx-smart-modal #myModal identifier="editModal" [closable]="false" class="custom-edit-modal">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Full Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                      placeholder="Enter full name" />
                  </div>
                  <label for="btnGroupEdit">Direction</label>
                  <div role="group" aria-label="Basic example" id="btnGroupEdit" class="group-modal-edit">
                    <button type="button" class="btn btn-outline-primary btn-modal-edit">
                      PHP
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-modal-edit">
                      SQL
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-modal-edit">
                      Design
                    </button>
                  </div>
                  <div class="form-group">
                    <label for="modal-edit-email">Email</label>
                    <input type="email" class="form-control" id="modal-edit-email" placeholder="Enter email" />
                  </div>
                  <div class="form-group">
                    <label for="modal-edit-phone">Phone</label>
                    <input type="text" class="form-control" id="modal-edit-phone" placeholder="+380" />
                  </div>
                  <div class="form-group">
                    <label for="modal-edit-telegram">Telegram Nick</label>
                    <input type="text" class="form-control" id="modal-edit-telegram"
                      placeholder="Enter telegram nick" />
                  </div>
                  <div class="form-group last-group-custom">
                    <label for="modal-edit-links">Link <span class="modal-edit-links-other">(GitHub, Behance
                        etc)</span></label>
                    <input type="text" class="form-control" id="modal-edit-links" placeholder="Enter link" />
                  </div>
                  <div class="d-flex justify-content-between btn-group-modal-edit-floor">
                    <button type="button" class="btn btn-primary btn-sm btn-modal-edit-floor btn-modal-edit-save">
                      Save
                    </button>
                    <button type="button" class="btn btn-sm btn-modal-edit-floor btn-modal-edit-close"
                      (click)="myModal.close()">
                      Cancel
                    </button>
                  </div>
                </form>
              </ngx-smart-modal>
            </div>
          </div>
        </div>
        <div class="card-body pb-0">
          <div class="row mb-3 align-items-center">
            <div class="col">
              <h6 class="text-sm mb-0">
                <img src="assets/icons/gmail_ico.svg" class="gmail-ico mr-3">
                <a class="link" target="_blank"
                  [href]="'mailto:' + user.social_media.mail">{{user.social_media.mail}}</a>
              </h6>
            </div>
          </div>
          <div class="row my-3 align-items-center">
            <div class="col">
              <h6 class="text-sm mb-0">
                <i class="fa fa-phone mr-3"></i>{{user.social_media.phone}}
              </h6>
            </div>
          </div>
          <div class="row my-3 align-items-center">
            <div class="col">
              <h6 class="text-sm mb-0">
                <i class="fa fa-paper-plane mr-3"></i>
                <a class="link" target="_blank"
                  [href]="user.social_media.telegram.link">{{user.social_media.telegram.username}}</a>
              </h6>
            </div>
          </div>
          <div class="row my-3 align-items-center">
            <div class="col">
              <h6 class="text-sm mb-0 d-flex">
                <i class="fa fa-linkedin-square mr-3"></i>
                <a class="link" target="_blank" [href]="user.social_media.linkedin"><span
                    class="link">{{user.social_media.linkedin}}</span></a>
              </h6>
            </div>
          </div>
        </div>
        <div class="card-footer p-2 d-flex justify-content-center">
          <div class="d-flex flex-column align-items-center">
            <div class="h5 mb-0 text-secondary">Resident</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Profile stats -->
      <div class="card card-fluid">
        <div class="d-flex justify-content-center card-title small mt-1">
          Activity
        </div>
        <div class="card-body p-0 row">
          <div class="col-lg-6 d-flex flex-column justify-content-between">
            <div class="bottom-light-border mx-4 py-3">
              <div class="mb-3 color-black font-weight-300">Всего</div>
              <span class="text-success h2 font-weight-bold mr-2"
                [class.text-primary]='activity.totalDays.average === activity.totalDays.current'
                [class.text-warning]='activity.totalDays.average < activity.totalDays.current'
                [class.text-success]='activity.totalDays.average > activity.totalDays.current'>8</span>
              <span>дней</span>
            </div>
            <div class="ml-4 mr-3 py-3">
              <div class="mb-3 color-black font-weight-300">Раньше на</div>
              <span class="text-success h2 font-weight-bold mr-2"
                [class.text-primary]='activity.totalDays.average === activity.totalDays.current'
                [class.text-warning]='activity.totalDays.average < activity.totalDays.current'
                [class.text-success]='activity.totalDays.average > activity.totalDays.current'>2</span>
              <span>дня</span>
              <span class="float-right small text-right">Быстрее<br>среднего на
                {{getPercentOfDiffrence(activity.totalDays.average, activity.totalDays.current) | round}}%</span>
            </div>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-around left-light-border">
            <div class="ml-3">
              <div class="color-black font-weight-300">Форма</div>
              <div class="mt-2">
                <span class="text-primary font-weight-bold h5 mr-1"
                  [class.text-primary]='activity.formDays.average === activity.formDays.current'
                  [class.text-warning]='activity.formDays.average < activity.formDays.current'
                  [class.text-success]='activity.formDays.average > activity.formDays.current'>1</span>день
              </div>
            </div>
            <div class="ml-3">
              <div class="color-black font-weight-300">Тестовое</div>
              <div class="mt-2">
                <span class="text-primary font-weight-bold h5 mr-1"
                  [class.text-primary]='activity.testDays.average === activity.testDays.current'
                  [class.text-warning]='activity.testDays.average < activity.testDays.current'
                  [class.text-success]='activity.testDays.average > activity.testDays.current'>{{activity.testDays.current}}</span>
                дня
                <span class="float-right small mr-4">{{activity.testDays.mistakes}} ошибок</span>
              </div>
            </div>
            <div class="ml-3">
              <div class="color-black font-weight-300">Практическое</div>
              <div class="mt-2">
                <span class="text-primary font-weight-bold h5 mr-1"
                  [class.text-primary]='activity.practiceDays.average === activity.practiceDays.current'
                  [class.text-warning]='activity.practiceDays.average < activity.practiceDays.current'
                  [class.text-success]='activity.practiceDays.average > activity.practiceDays.current'>{{activity.practiceDays.current}}</span>
                дня
                <span class="float-right small mr-4">{{activity.practiceDays.mistakes}} ошибки</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer no-top-border"></div>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Profile stats -->
      <div class="card card-fluid">
        <div class="d-flex justify-content-center card-title small mt-1">
          Solution
        </div>
        <div class="card-body py-0 row">
          <div>
            <ul class="custom__ul">
              <li *ngFor="let state of userStates; let i = index" [class._selected]="selectedUserStateId === state.id"
                (click)="selectedUserStateId = state.id" class="pl-1 custom_checkbox lh-120"
                [class.pb-4]="i !== userStates.length - 1">
                {{state.name}}
              </li>
            </ul>
          </div>
          <button class="btn btn-secondary btn-xs mx-3 custom-btn w-100"
            (click)="ngxSmartModalService.getModal('submitModal').open()">
            <span class="h6 text-white">Подтвердить</span>
          </button>
          <ngx-smart-modal #myModal identifier="submitModal">
            <h1>Title</h1>
            <p>Some stuff...</p>
          </ngx-smart-modal>
        </div>
        <div class="card-footer no-top-border"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-title m-4">
          <span class="h4 font-weight-900">Общая информация(анкета и письмо)</span>
          <div class="float-right">
            <div class="d-flex justify-content-between">
              <div class="mr-5 d-flex flex-column">
                <span class="text-muted">Начал:</span>
                <span>{{genInfo.studyingTime.began}}</span>
              </div>
              <div class="d-flex flex-column mr-3">
                <span class="text-muted">Закончил:</span>
                <span>{{genInfo.studyingTime.finished}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-lg-6">
              <p class="_card-subtitle font-weight-bolder">Образование:</p>
              <p class="h6 pb-2">Учебное заведение: {{genInfo.education.institution}}</p>
              <p class="h6 pb-2">Факультет: {{genInfo.education.faculty}}</p>
              <p class="h6 pd-2">Другие достижения: {{genInfo.education.otherAchievements}}.</p>
            </div>
            <div class="col-lg-6 pl-4">
              <p class="_card-subtitle font-weight-bolder">Мотивация:</p>
              <div class="h6 pb-2 pr-5">
                Хочу получать акутульное образование сфере ИТ и находиться среди
                ребят, который любят и ценят самообразование. Так же всегда
                мечтала заниматься инетресным делом и получать от этого
                удовольствие. Хочу получать акуаульно образование сфере ИТ и
                находиться среди ребят, который любят и ценят самообразование.
                Так же всегда мечтала заниматься который любят...
                <span class="float-right text-primary font-weight-bold">Больше <i class="fa fa-angle-down"></i></span>
              </div>
            </div>
            <div class="col-lg-6 mt-3 profile__table-hardSkills">
              <p class="_card-subtitle font-weight-bolder">Самооценка Hard Skills:</p>
              <table class="table custom-table ">
                <thead>
                  <tr>
                    <th scope="col" class="pr-1">Направление</th>
                    <th scope="col" class="pr-1">Не знаю</th>
                    <th scope="col" class="pr-1">Читал немного</th>
                    <th scope="col" class="pr-1">Хорошо знаю</th>
                    <th scope="col" class="pr-1">Постоянно пишу</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">SQL</td>
                    <td></td>
                    <td></td>
                    <td class="disabled"></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td scope="row">PHP</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="disabled"></td>
                  </tr>
                  <tr>
                    <td scope="row">Front-end</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="disabled"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-lg-6 pl-4 mt-3">
              <p class="_card-subtitle font-weight-bolder">Самооценка Soft Skills:</p>
              <table class="table custom-table table-sm">
                <thead>
                  <tr>
                    <th scope="col" class="pr-1">Качество</th>
                    <th scope="col" class="py-1 pr-1">Сильная сторона</th>
                    <th scope="col" class="pr-1">Стоит попробовать</th>
                    <th scope="col" class="py-1 pr-1">Слабая сторона</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">Критическое мышление</td>
                    <td></td>
                    <td></td>
                    <td class="disabled"></td>
                  </tr>
                  <tr>
                    <td scope="row">Коммуникаб.</td>
                    <td></td>
                    <td></td>
                    <td class="disabled"></td>
                  </tr>
                  <tr>
                    <td scope="row">Выносливость</td>
                    <td></td>
                    <td></td>
                    <td class="disabled"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-title m-4 pt-1">
          <span class="h4 font-weight-900">Тестовое</span>
          <button class="btn btn-sm btn-secondary float-right fs-10 card-btn-label lh-120">
            SQL
          </button>
        </div>
        <div class="card-body pt-0 pb-0">
          <div class="h6 row font-weight-normal pb-3">
            <div class="col-lg-4">Статус:</div>
            <div class="col-lg-8 pl-0">
              <div class="d-inline-block block_success text-white">Done</div>
            </div>
          </div>
          <div class="h6 row font-weight-normal pb-3">
            <div class="col-lg-4">Затрачено дней:</div>
            <div class="col-lg-8 px-0">
              <div class="d-inline-block fs-9 used-day" [class.checked]="testTaskBlock.daysSpent > day"
                *ngFor="let day of arrayOfDays"><span>{{day + 1}}</span></div>
            </div>
          </div>
          <div class="h6 row font-weight-normal pb-3">
            <div class="col-lg-4">Результат:</div>
            <div class="col-lg-8 px-0 color-black fs-11" class="test__result">
              <div>
                <span class="font-weight-bolder">Хорошо</span> (7/10 баллов)
              </div>
              <div class="popover__wrapper">
                <img src="../assets/icons/info.svg" alt="info-result" style="margin-right: 0.45rem;" />
                <div class="popover__content">
                  <p class="popover__message">
                    Some text...
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="h6 row font-weight-normal pb-3">
            <div class="col-lg-4">Ошибок:</div>
            <div class="col-lg-8 px-0 color-black fs-11">{{testTaskBlock.mistakes}}</div>
          </div>
          <!-- <div class="h6 row font-weight-normal pb-3">
            <div class="col-lg-4">Баллы проф репутации:</div>
            <div class="col-lg-8 px-0 color-black">
              <div class="badge badge-soft-success fs-11 font-weight-normal">
                <img src="assets/icons/arrow-up.svg" class="mb-1 mr-1" />15
              </div>
            </div>
          </div> -->
          <div class="big-divider"></div>
          <div class="h6 row font-weight-normal pb-3">
            <div class="sources pr-0">Исходники:</div>
            <div class="col-lg-8 px-0 color-black">
              <div class="d-inline-flex align-items-center">
                <div class="col-auto">
                  <img alt="Image placeholder" src="assets/icons/psd.png" class="img-fluid file_main-image">
                </div>
                <div class="col ml-n2">
                  <h6 class="text-sm mb-0">
                    <a href="#!">website-wireframe.psd</a>
                  </h6>
                  <p class="card-text mt-1 small text-muted">45.9 MB</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card" *ngFor="let thing of practiceTaskBlock">
        <div class="card-title m-4 pt-1">
          <span class="h4 font-weight-900">Практическое</span>
          <div class="float-right temp_choose-tab">
            <button class="btn btn-sm m-0 temp_btn btn-secondary fs-10 lh-120">
              PHP
            </button>
            <button class="btn btn-sm m-0 temp_btn btn-light fs-10 lh-120">
              Front-end
            </button>
          </div>
        </div>
        <div class="card-body pt-0 pb-0">
          <div class="h6 row font-weight-normal pb-3">
            <div class="col-lg-4">Статус:</div>
            <div class="col-lg-8 pl-0">
              <div class="d-inline-block block_success text-white">Done</div>
            </div>
          </div>
          <div class="h6 row font-weight-normal pb-3">
            <div class="col-lg-4">Затрачено дней:</div>
            <div class="col-lg-8 px-0">
              <div class="d-inline-block fs-9 used-day checked" [class.checked]="thing.daysSpent > day"
                *ngFor="let day of arrayOfDays"><span>{{day + 1}}</span></div>
            </div>
          </div>
          <div class="h6 row font-weight-normal pb-3">
            <div class="col-lg-4">Оценка:</div>
            <div class="col-lg-8 px-0 color-black fs-11">
              Выполнено с мелкими ошибками (40/50 баллов)
            </div>
          </div>
          <div class="h6 row font-weight-normal pb-4">
            <div class="col-lg-4">Фитбек от ментора:</div>
            <div class="col-lg-8 px-0 color-black fs-11">
              Кандидат хорошо владеет базовыми знаниями (типы переменнных и
              операции над ними), небольшой опыт владения классами, льём водичку
              для красо...
              <span class="float-right text-primary font-weight-bold mr-3">Больше <i
                  class="fa fa-angle-down"></i></span>
            </div>
          </div>
          <div class="h6 row font-weight-normal pb-1">
            <div class="col-lg-12">Сравнение оценок:</div>
          </div>
          <table class="table custom-table">
            <thead>
              <tr>
                <th scope="col" class="pr-1"></th>
                <th scope="col" class="pr-1">Не знаю</th>
                <th scope="col" class="pr-1">Читал немного</th>
                <th scope="col" class="pr-1">Хорошо знаю</th>
                <th scope="col" class="pr-1">Постоянно пишу</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Самооценка</td>
                <td></td>
                <td></td>
                <td class="disabled"></td>
                <td></td>
              </tr>
              <tr>
                <td scope="row">Оценка ментора</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="disabled"></td>
              </tr>
            </tbody>
          </table>
          <div class="h6 row font-weight-normal pb-3 pt-3 mt-4">
            <div class="sources pr-0">Исходники:</div>
            <div class="col-lg-8 px-0 color-black">
              <div class="d-inline-flex align-items-center">
                <div class="col-auto">
                  <img alt="Image placeholder" src="assets/icons/psd.png" class="img-fluid file_main-image">
                </div>
                <div class="col ml-n2">
                  <h6 class="text-sm mb-0">
                    <a href="#!">website-wireframe.psd</a>
                  </h6>
                  <p class="card-text mt-1 small text-muted">45.9 MB</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-title m-4">
          <span class="h4 font-weight-900">Soft skills:</span>
        </div>
        <div class="card-body">
          <p class="_card-subtitle font-weight-bolder">Сравнение оценок:</p>
          <table class="table custom-table table-bg">
            <thead>
              <tr>
                <th scope="col">Владение</th>
                <th scope="col" class="py-1">Критическое мышление</th>
                <th scope="col">Коммуникаб.</th>
                <th scope="col" class="py-1">Командная работа</th>
                <th scope="col" class="py-1">Выносливость</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Критическое мышление</td>
                <td class="mentor-match"></td>
                <td class="disabled"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td scope="row">Коммуникаб.</td>
                <td></td>
                <td class="mentor-rating"></td>
                <td class="disabled"></td>
                <td></td>
              </tr>
              <tr>
                <td scope="row">Выносливость</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="disabled"></td>
              </tr>
              <tr>
                <td scope="row">Комментарий</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="5">
                  <div class="d-flex">
                    <div class="rating-block block-description-1"></div>
                    <span class="rating-block-description ">- самооценка</span>
                    <div class="rating-block block-description-2"></div>
                    <span class="rating-block-description ">- оценка ментора</span>
                    <div class="rating-block block-description-3"></div>
                    <span class="rating-block-description ">- совпадает</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</div>