<div class="modal-content">
  <div class="modal-body">
    <!-- Project name -->
    <div class="form-group input-group-sm">
      <label class="form-control-label">
        Название курса
      </label>
      <input type="text" class="form-control" placeholder="Название курса">
    </div>
    <!-- Project description -->
    <div class="form-group input-group-sm">
      <label class="form-control-label mb-0">
        Учатсники
      </label>
      <textarea class="form-control" data-toggle="autosize" rows="1" placeholder="Участники"
        style="overflow: hidden; overflow-wrap: break-word; resize: none;"></textarea>
    </div>
    <div class="list-group list-group-flush my-4">
      <div class="list-group-item px-0 py-2 border-top">
        <div class="row align-items-center">
          <div class="col-auto">
            <!-- Avatar -->
            <a href="#" class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="https://i.imgur.com/vxtF8ZR.jpg">
            </a>
          </div>
          <div class="col ml-n2">
            <a href="#!" class="d-block h6 text-sm mb-0">Глеб Руцкий</a>
            <p class="card-text text-sm text-muted mb-0">
              paxtonevens@gmail.com
            </p>
          </div>
          <div class="col-auto text-right">
            <span class="text-sm text-info">Ментор</span>
          </div>
        </div>
      </div>
      <div class="list-group-item px-0 py-2 border-bottom">
        <div class="row align-items-center">
          <div class="col-auto">
            <!-- Avatar -->
            <a href="#" class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="https://i.imgur.com/dxhQonP.jpg">
            </a>
          </div>
          <div class="col ml-n2">
            <a href="#!" class="d-block h6 text-sm mb-0">Артем Казланжи</a>
            <p class="card-text text-sm text-muted mb-0">
              kazlanzhy.artyom@gmail.com
            </p>
          </div>
          <div class="col-auto text-right">
            <span class="text-sm text-info">Ментор</span>
          </div>
        </div>
      </div>
    </div>
    <!-- schedule date -->
    <div class="form-group mb-0">
      <div class="row">
        <div class="col-12 col-md-6">
          <!-- Day -->
          <div class="form-group input-group-sm">
            <label class="form-control-label">
              Расписание
            </label>
            <input type="text" class="form-control" placeholder="Расписание">
          </div>
        </div>
        <div class="col-12 col-md-3">
          <!-- Start time -->
          <div class="form-group input-group-sm">
            <label class="form-control-label">
              Время
            </label>
            <input type="text" class="form-control text-center" placeholder="чч:мм">
          </div>
        </div>
        <div class="col-12 col-md-3">
          <!-- End time -->
          <div class="form-group input-group-sm">
            <input type="text" class="form-control end-time-input text-center" placeholder="чч:мм">
          </div>
        </div>
      </div>
    </div>

    <!-- Project date -->
    <div class="form-group mb-0">
      <div class="row">
        <div class="col-12 col-md-6">
          <!-- Start date -->
          <div class="form-group input-group-sm">
            <label class="form-control-label">
              Начало курса
            </label>
            <input type="date" class="form-control">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <!-- Start date -->
          <div class="form-group input-group-sm">
            <label class="form-control-label">
              Конец курса
            </label>
            <input type="date" class="form-control input-sm">
          </div>
        </div>
      </div>
    </div>
    <!-- Тестовое -->
    <div class="form-group input-group-sm mb-0">
      <label class="form-control-label">
        Тестовое
      </label>
      <input type="text" class="form-control" placeholder="Тестовое">
    </div>
    <!-- Buttons -->
    <div class="d-flex justify-content-between pt-4">
      <button type="button" class="btn btn-sm btn-primary mr-auto py-2 text-sm" data-dismiss="modal">Сохранить</button>
      <button type="button" class="btn btn-light m-0 btn-sm custom-fs-12 px-3 py-1 text-sm">Отмена</button>
    </div>  
  </div>
</div>
