<ng-progress #progressBar></ng-progress>
<div class="container-fluid container-application header-custom">
  <!-- Sidenav -->
  <div class="sidenav show ml-0" id="sidenav-main">
    <!-- Sidenav header -->
    <div class="sidenav-header d-flex mb-0 align-items-center p-0 pt-1 mb-0">
      <nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-primary mt-4 custom-navbar p-0 mb-0">
        <div class="container">
          <div class="collapse navbar-collapse pl-0" id="navbar-primary">
            <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item mr-5">
                <a class="nav-link pl-0 custom-fs-16" [routerLink]="['']">Главная</a>
              </li>
              <li class="nav-item dropdown dropdown-custom mr-5">
              <div class="nav-link pr-1 custom-fs-16" id="navbar__dropdown-direction" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Направления
                  <img src="../assets/icons/arrow-down.svg" class="ml-2">
                </div>
                <div class="dropdown-menu dropdown-menu-arrow" aria-labelledby="navbar__dropdown-direction">
                  <a class="dropdown-item text-sm" [routerLink]="['/direction']">Все направления</a>
                  <div class="dropdown dropdown-animate dropdown-submenu" data-toggle="hover">
                    <a href="#" class="dropdown-item text-sm d-flex align-items-center justify-content-between" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Дизайн<img src="assets/icons/arrow-right.svg" class="ml-2">
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item text-sm" [routerLink]="['/direction/1']">UI/UX design</a>
                      <a class="dropdown-item text-sm text-muted" disabled href="#">Motion design</a>
                    </div>
                  </div>
                  <div class="dropdown dropdown-animate dropdown-submenu" data-toggle="hover">
                    <a href="#" disabled class="text-muted dropdown-item text-sm d-flex align-items-center justify-content-between" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Программирование<img src="assets/icons/arrow-right.svg" class="ml-2">
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item text-muted text-sm" disabled href="#">Python</a>
                      <a class="dropdown-item text-muted text-sm" disabled href="#">C++</a>
                      <a class="dropdown-item text-muted text-sm" disabled href="#">JavaScript</a>
                      <a class="dropdown-item text-muted text-sm" disabled href="#">PHP</a>
                      <a class="dropdown-item text-muted text-sm" disabled href="#">Java</a>
                    </div>
                  </div>
                  <div class="dropdown dropdown-animate dropdown-submenu" data-toggle="hover">
                    <a href="#" class="dropdown-item text-muted text-sm d-flex align-items-center justify-content-between" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Разработка<img src="assets/icons/arrow-right.svg" class="ml-2">
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item text-muted text-sm" href="#">Android</a>
                      <a class="dropdown-item text-muted text-sm" href="#">iOS</a>
                      <a class="dropdown-item text-muted text-sm" href="#">Front-End</a>
                      <a class="dropdown-item text-muted text-sm" href="#">ML</a>
                    </div>
                  </div>
                  <div class="dropdown dropdown-animate dropdown-submenu" data-toggle="hover">
                    <a href="#" class="dropdown-item text-muted text-sm d-flex align-items-center justify-content-between" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Экспресс курсы<img src="assets/icons/arrow-right.svg" class="ml-2">
                    </a>
                    <div class="dropdown-menu ">
                      <a class="dropdown-item text-muted text-sm" href="#">Дизайн мышления</a>
                      <a class="dropdown-item text-muted text-sm" href="#">Azure</a>
                      <a class="dropdown-item text-muted text-sm" href="#">AWS</a>
                      <a class="dropdown-item text-muted text-sm" href="#">Space managment</a>
                      <a class="dropdown-item text-muted text-sm" href="#">Project managment</a>
                    </div>
                  </div>
                  <a class="dropdown-item text-muted text-sm" href="#">Фундаментальное программирование</a>
                  <a class="dropdown-item text-muted text-sm" href="#">QA</a>
                </div>
              </li>
<!--              <li class="nav-item mr-5">-->
<!--                <a class="nav-link header-link-custom custom-fs-16" href="#">Soft Skills</a>-->
<!--              </li>-->
              <li class="nav-item dropdown dropdown-custom mr-5">
                <a class="nav-link pr-1 custom-fs-16" id="navbar-primary_dropdown_2" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Пользователи</a>
                <img src="../assets/icons/arrow-down.svg" width="12px" height="7.41px" alt="">
                <div class="dropdown-menu dropdown-menu-arrow" aria-labelledby="navbar-primary_dropdown_1">
                  <a class="dropdown-item text-sm" [routerLink]="['/']" >Кандидаты</a>
                  <a class="dropdown-item text-sm" [routerLink]="['/profile']">Резиденты</a>
                  <a class="dropdown-item text-sm" [routerLink]="['/proposal']">Заявки</a>
                  <a class="dropdown-item text-sm disabled text-muted">Менторы</a>
                </div>
              </li>
<!--              <li class="nav-item mr-5">-->
<!--                <a class="nav-link custom-fs-16" href="#">Карьера</a>-->
<!--              </li>-->
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- Misc area -->
  </div>
  <!-- Content -->
  <div class="main-content position-relative">
    <!-- Main nav -->
    <nav class="navbar navbar-main navbar-expand-lg pb-0 mb-0 bg-primary" id="navbar-main">
      <div class="container-fluid">
        <div class="collapse navbar-collapse pr-0 navbar-collapse-fade" id="navbar-main-collapse">
          <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
            <li class="nav-item dropdown dropdown-animate">
              <a class="nav-link pt-0 pr-lg-0" (click)="openEditProfileModal()" href="#" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media media-pill align-items-center">
                  <span class="avatar rounded-circle">
                    <img alt="Image placeholder" [src]="mainUser.icon">
                  </span>
                  <div class="ml-2 d-none d-lg-block">
                    <span class="mb-0 h6 text-white font-weight-bolder">{{mainUser.name}}</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Footer -->
  </div>
</div>
<router-outlet></router-outlet>
