// Colors
$body-bg:       #FFF !default;

$border-color:  #e9eef3 !default;

// Navbar

$navbar-box-shadow:                     0 3px 8px 0 rgba(116, 129, 141, 0.1) !default;

// Navbar vertical

$navbar-vertical-width:                 0 !default;
$navbar-vertical-open-width:            270px !default;
$navbar-vertical-border-width:          0 !default;
$navbar-vertical-border-radius:         0 !default;
$navbar-vertical-open-border-radius:    0 !default;
