.card-outliers{
  top: 92%;
  left: -1px;    
  width: 100.7%;
  background-color: #FFF;
  background-clip: border-box;
  border: 1px solid #EFF2F7;
  border-radius: 0.375rem;
  box-shadow: 0 2rem 3rem rgba(31, 45, 61, 0.125) !important;
}
