/* You can add global styles to this file, and also import other style files */
$primary: #006ad7;
$secondary: #4f60fd;
$light: #e6e9ed;
$muted: #8492a6;
$success: #36b37e;
$warning: #ff6930;

$fa-font-path: "~resources/fa/fonts";
$application-container-bg-height: 400px;
@import "resources/purpose/scss/purpose.scss";
@import "resources/fa/scss/font-awesome.scss";
@import "~ngx-smart-modal/ngx-smart-modal";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

$font-sizes: (6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18);

@for $i from 1 through 20 {
  .fs-#{$i} {
    font-size: #{$i / 10}rem;
  }
}
.application .sidenav-header .navbar-brand img {
  height: 1.8rem;
}

.card {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
}

.application .sidenav-header {
  padding: 2.2rem 0;
}

.link {
  color: $primary;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom_checkbox {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    border: 1px solid #8492a6;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    top: 0;
    left: -30px;
  }
  &._selected:after {
    top: 2px;
    left: -28px;
    height: 12px;
    width: 12px;
    position: absolute;
    content: "";
    background: $primary;
    border-radius: 50%;
  }
}

.block_success {
  padding: 2px 2rem;
  background: $success;
  border: 2px solid $light;
}

.left-light-border {
  border-left: 1px solid $light;
}

.bottom-light-border {
  border-bottom: 1px solid $light;
}

.custom-table {
  th,
  td {
    font-size: 0.9rem;
    border-top: 2px solid $light;
    border-bottom: 2px solid $light;
    border-left: 1px solid $light;
    border-right: 1px solid $light;
    padding: 0.75rem 1rem;
    text-align: left;
    vertical-align: middle !important;
    line-height: 1.1rem;
  }
  &.table-sm {
    max-width: 140px;
    max-height: 40px;
  }
  &.table-bg {
    padding: 0.75rem 1.5rem;
  }
  td {
    color: #3c4858;
  }
  .disabled {
    background: $light;
  }
}

.used-day {
  width: 1.7rem;
  height: 1.7rem;
  position: relative;
  margin-right: 2px;
  text-align: center;
  color: $light;
  background: transparent;
  border: 2px solid $light;
  &.checked {
    background: $muted;
  }
  span {
    vertical-align: middle;
  }
}

.nsm-content{
  padding: 1.5rem;
}

.overlay {
  overflow-y: hidden;
}
.test__result {
  width: 66%;
  display: flex;
  justify-content: space-between;
}

.practice__front {
  color: $muted;
  background: $light;
}

.popover__wrapper {
  position: relative;
  display: inline-block;
}

.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -150px;
  transform: translate(0, 10px);
  background-color: $muted;
  padding: 0.1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
  border-radius: 0.25rem;
  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: 0.31rem;
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $muted transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
}

.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, 8px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
  text-align: center;
  margin-bottom: 0;
  color: $light;
  width: 10.625rem;
}

.profile__table-hardSkills{
  padding-right: 2.25rem;
}

.custom-navbar {
  z-index: 102;
}

.dropdown-custom {
  width: 128px;
  display: flex;
  align-items: center;
}

.header-custom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 1rem;
  overflow-y: hidden;
}

.btn-xs {
  padding: 0.375rem 0.7rem;
  font-size: 0.75rem;
  line-height: 0.5;
  border-radius: 0.25rem;
}

.p-2 {
  padding: 1rem !important;
}

.mentor-match{
  background: $light;
  outline: 8px solid $muted;
  outline-offset: -8px;
}

.rating-block-description{
  margin: auto 2.5rem auto 0.5rem;
}

.block-description-1 {
  background: $light;
}

.block-description-2 {
  background: $muted;
}

.block-description-3 {
  background: $light;
  outline: 4px solid $muted;
  outline-offset: -4px;
}

.rating-block{
  width: 4rem;
  height: 1.5rem;
}

.mentor-rating {
  background: $muted;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    margin-right: 3.75rem;
  }
}

.navbar-nav .nav-item .nav-link {
  //text-overflow:
  white-space: nowrap;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

.modal-submit{ 
  top:30%
}

.modal-submit > .nsm-content{
  height: 190px;
  width: 450px;
}

.modal-submit > .nsm-content > .nsm-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}