/* You can add global styles to this file, and also import other style files */
$primary:   #006AD7;
$secondary: #4F60FD;
$light:     #E6E9ED;
$muted:     #8492A6;
$success:   #36B37E;
$warning:   #FF6930;

$fa-font-path: "~resources/fa/fonts";
$application-container-bg-height: 400px;
@import "resources/purpose/scss/purpose.scss";
@import "resources/fa/scss/font-awesome.scss";


$font-sizes: (6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18);


@for $i from 1 through 20 {
  .fs-#{$i} {
    font-size: #{$i / 10}rem;
  }
}
.application .sidenav-header .navbar-brand img {
  height: 1.8rem;
}

.card {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
}

.application .sidenav-header {
  padding: 2.2rem 0;
}



.link {
  color: $primary;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



.custom_checkbox {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    border: 1px solid #8492A6;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    top: 0;
    left: -30px;
  }
  &._selected:after {
    top: 2px;
    left: -28px;
    height: 12px;
    width: 12px;
    position: absolute;
    content: '';
    background: $primary;
    border-radius: 50%;
  }
}


.block_success {
  padding: 2px 2rem;
  background: $success;
  border: 2px solid $light;
}



.left-light-border {
  border-left: 1px solid $light;
}

.bottom-light-border {
  border-bottom: 1px solid $light;
}


.custom-table {
  th, td {
    font-size: 0.9rem;
    border-top: 2px solid $light;
    border-bottom: 2px solid $light;
    border-left: 1px solid $light;
    border-right: 1px solid $light;
    padding: 0.75rem 1rem;
    text-align: left;
    vertical-align: middle!important;
    line-height: 1.1rem;
  }
  &.table-sm {
    max-width: 140px;
    max-height: 40px;
  }
  &.table-bg {
    padding: 0.75rem 1.5rem;
  }
  td {
    color: #3C4858;
  }
  .disabled {
    background: $light;
  }
}


.used-day {
  width: 1.7rem;
  height: 1.7rem;
  position: relative;
  margin-right: 2px;
  text-align: center;
  color: $light;
  background: transparent;
  border: 2px solid $light;
  &.checked {
    background: #8492A6;
  }
  span {
    vertical-align: middle;
  }
}
